<div class="centered-tabs" *ngIf="!(isMobile | async)">
    <mat-tab-group class="scrollable-tabs">
      <!--Tabul de schimbari-->
    <mat-tab *ngIf="currentUserRole === 1" label="Schimbari furnizori">
      <app-admin-dashboard-suppliers></app-admin-dashboard-suppliers>
    </mat-tab>
      
    <mat-tab *ngIf="currentUserRole === 1" label="Parteneri">
    <app-admin-dashboard-partners></app-admin-dashboard-partners>
      
    </mat-tab>
      
    <mat-tab *ngIf="currentUserRole === 1" label="Pachete">
    
      
    </mat-tab>
      
    <mat-tab *ngIf="currentUserRole === 1" label="Categorii">
  <app-admin-dashboard-categories></app-admin-dashboard-categories>
      
    </mat-tab>
      
    <mat-tab label="Grupuri">
      <app-admin-dashboard-main-categories></app-admin-dashboard-main-categories>
    </mat-tab>

    <mat-tab label="Bloguri">
      <app-admin-dashboard-blogs></app-admin-dashboard-blogs>
      
    </mat-tab>

    <mat-tab *ngIf="currentUserRole === 1" label="Review">

      <app-admin-dashboard-reviews></app-admin-dashboard-reviews>
    </mat-tab>

    <mat-tab *ngIf="currentUserRole === 1" label="Profile Analytics">

      <app-profile-analytics></app-profile-analytics>
    </mat-tab>


    </mat-tab-group>
  </div>

  <div class="centered-tabs-mobile" *ngIf="(isMobile | async)">
    <mat-tab-group class="scrollable-tabs-mobile">
      <!--Tabul de schimbari-->
    <mat-tab *ngIf="currentUserRole === 1" label="Schimbari furnizori">
      <app-admin-dashboard-suppliers></app-admin-dashboard-suppliers>
      
    </mat-tab>
      
    <mat-tab *ngIf="currentUserRole === 1" label="Parteneri">
      <app-admin-dashboard-partners></app-admin-dashboard-partners>
      
    </mat-tab>
      
    <mat-tab *ngIf="currentUserRole === 1" label="Pachete">
    
      
    </mat-tab>
      
    <mat-tab *ngIf="currentUserRole === 1" label="Categorii">
  
      <app-admin-dashboard-categories></app-admin-dashboard-categories>
    </mat-tab>

    <mat-tab label="Grupuri">
      <app-admin-dashboard-main-categories></app-admin-dashboard-main-categories>
    </mat-tab>
      
    <mat-tab label="Bloguri">
      <app-admin-dashboard-blogs></app-admin-dashboard-blogs>
      
    </mat-tab>

    <mat-tab *ngIf="currentUserRole === 1" label="Review">
      <app-admin-dashboard-reviews></app-admin-dashboard-reviews>
      
    </mat-tab>

    <mat-tab *ngIf="currentUserRole === 1" label="Profile Analytics">

      <app-profile-analytics></app-profile-analytics>
    </mat-tab>

    </mat-tab-group>
  </div>