<div class="centered-tabs" *ngIf="!(isMobile | async)">
    <mat-tab-group class="scrollable-tabs">
      <!--Tabul de schimbari-->
    <mat-tab label="Schimbari furnizori">
      <div>
        <h1>Schimbari furnizori</h1>
        <mat-form-field>
            <input matInput [formControl]="searchControl" placeholder="Cautare">
          </mat-form-field>
      <div>
        <table mat-table [dataSource]="dataSource" matSort>

      
          <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nume </th>
            <td mat-cell *matCellDef="let profile"> {{ profile.firstname }} </td>
          </ng-container>
          
          <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prenume </th>
            <td mat-cell *matCellDef="let profile"> {{ profile.lastname }} </td>
          </ng-container>
          
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Categorie </th>
            <td mat-cell *matCellDef="let profile"> {{ profile.category }} </td>
          </ng-container>
          
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actiuni </th>
            <td mat-cell *matCellDef="let profile"> <button mat-raised-button color="accent">Schimbari</button> </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumnsProfilesChanged"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsProfilesChanged;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
      
    </mat-tab>
      
    <mat-tab label="Parteneri">
    
      
    </mat-tab>
      
    <mat-tab label="Pachete">
    
      
    </mat-tab>
      
    <mat-tab label="Categorii">
  
      
    </mat-tab>
      
    <mat-tab label="Bloguri">

      
    </mat-tab>

    </mat-tab-group>
  </div>

  <div class="centered-tabs-mobile" *ngIf="(isMobile | async)">
    <mat-tab-group class="scrollable-tabs-mobile">
      <!--Tabul de schimbari-->
    <mat-tab label="Schimbari furnizori">
       
      
    </mat-tab>
      
    <mat-tab label="Parteneri">
    
      
    </mat-tab>
      
    <mat-tab label="Pachete">
    
      
    </mat-tab>
      
    <mat-tab label="Categorii">
  
      
    </mat-tab>
      
    <mat-tab label="Bloguri">

      
    </mat-tab>

    </mat-tab-group>
  </div>