
    <h1>Review-uri</h1>
    <mat-form-field>
        <input matInput [formControl]="searchControl" placeholder="Cautare">
      </mat-form-field>
  <div>
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="profileName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nume profil </th>
        <td mat-cell *matCellDef="let review"> {{ review.profileName }} </td>
      </ng-container>

      <ng-container matColumnDef="reviewText">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Review </th>
        <td mat-cell *matCellDef="let review"> {{ review.reviewText }} </td>
      </ng-container>

      <ng-container matColumnDef="responseText">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Raspuns </th>
        <td mat-cell *matCellDef="let review"> {{ review.responseText }} </td>
      </ng-container>

      
      
      
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actiuni </th>
        <td mat-cell *matCellDef="let review">
           <button style="margin-right: 20px" (click)="approveReview(review.id)" mat-raised-button color="accent">Accepta Review</button>
           <button style="margin-right: 20px" (click)="rejectReview(review.id)" mat-raised-button color="accent">Respinge Review</button>
          </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumnsReviews"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsReviews;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
  </div>