<div class="container">
  <h1 class="title">{{section?.title}}</h1>
  <h3 class="subtitle">{{section?.content}}</h3>

  <div class="card-container">
    <div *ngFor="let supplier of cards" class="card">
      <img [src]="supplier.profileImage" alt="{{ supplier.name }}" class="card-image">
      <h4 class="card-title">{{ supplier.name }}</h4>
      <p class="card-category">{{ supplier.category.name }}</p>
    </div>
  </div>

  <button [routerLink]="['/furnizori']" mat-raised-button color="accent">Vezi toti furnizorii</button>
</div>