<div *ngIf="!(isMobile | async)">
  <nav (mouseover)="showCategoriesFromLink = false">
    <div class="logo">
      <a routerLink="/acasa"><img
    style="margin: left 50px;"
    width="100"
    src="assets\imagesandvideos\pinklogo.png"
  /></a>
    </div>
    <ul class="menu">
      <ng-container *ngIf="!isLoggedIn(); else loggedIn">
        <li><a routerLink="/Favorite">Favorite</a></li>
        <li><a routerLink="/autentificare">Autentifică-te</a></li>
        <li><a routerLink="/Inscriere">Înscrie-te</a></li>
      </ng-container>
      <ng-template #loggedIn>
        <!-- Display something else when logged in, e.g., an icon -->
        <li><a routerLink="/Favorite">Favorite</a></li>
        <li><a routerLink="/profil"><i class="fa fa-user"></i> Profil</a></li>
        <li class="logout" (click)="logOut()"><a>Deconectează-te</a></li>
      </ng-template>
    </ul>
  </nav>
  <nav class="secondnav">
    <ul class="second-menu">
      <li (mouseover)="showCategoriesFromLink = true"><a class="menuLink" routerLink="/furnizori">Furnizori</a></li>
      <li (mouseover)="showCategoriesFromLink = false"><a routerLink="/despre-noi">Despre Noi</a></li>
      <li (mouseover)="showCategoriesFromLink = false"><a routerLink="/contact">Contact</a></li>
      <li *ngIf="isPartnerLoggedIn()" (mouseover)="showCategoriesFromLink = false"><a routerLink="/dashboard">Dashboard Partener</a></li>
      <li *ngIf="isAdminOrMarketingLoggedIn()" (mouseover)="showCategoriesFromLink = false"><a routerLink="/admin-dashboard">Admin Dashboard</a></li>
      
    </ul>
  </nav>   
</div>
<div class="category-menu" (mouseover)="showCategoriesFromMenu = true" (mouseleave)="hideOverlay()" *ngIf="showCategoriesFromLink || showCategoriesFromMenu">
  <!-- Left side: Category Groups -->
  <ul class="category-groups">
    <li 
    *ngFor="let group of categoryGroups" 
    class="category-group-item"
    (mouseover)="showCategories(group)"
    (mouseleave)="hideCategories()"
    (click)="navigateToGroup(group)"
    >
      <a>{{ group.name }}</a>
      
      <!-- Right Side: Categories appear dynamically when hovering -->
      <ul class="category-list" *ngIf="selectedGroup?.id === group.id">
        <li 
  *ngFor="let category of selectedGroup.categories" 
  class="category-item"
  (click)="navigateToCategory(category)"
>
  <a>{{ category.name }}</a>
</li>
      </ul>
    </li>
  </ul>
</div>

<div *ngIf="(isMobile | async)" class="mobile-nav">
  <div class="left-content">
    <button (click)="toggleCollapse()" mat-menu-item><div class="menu-container">
      <div class="menu-bar1"></div>
      <div class="menu-bar2"></div>
      <div class="menu-bar3"></div>
    </div></button>
  </div>
  <div class="center-content">
    <a routerLink="/acasa">
      <img width="80" src="assets\imagesandvideos\pinklogo.png" />
    </a>
  </div>
  <div *ngIf="isLoggedIn()" class="right-content"><a routerLink="/profil"><i class="fa fa-user-circle-o" style="font-size:36px"></i></a></div>
</div>

<div *ngIf="showMenu" class="overlay-menu">
  <ul class="menu-list">
    <li class="menu-item">
      <a (click)="onItemClick('/acasa')">
        <i class="fa fa-home"></i> Acasă
      </a>
    </li>
    <li class="menu-item">
      <a (click)="onItemClick('/despre-noi')">
        <i class="fa fa-info-circle"></i> Despre noi
      </a>
    </li>
    <li class="menu-item">
      <a (click)="onItemClick('/contact')">
        <i class="fa fa-envelope"></i> Contact
      </a>
    </li>
    <li *ngIf="isPartnerLoggedIn()" class="menu-item">
      <a (click)="onItemClick('/dashboard')">
        <i class="fa fa-briefcase"></i> Dashboard Partener
      </a>
    </li>
    <li class="menu-item">
      <a (click)="onItemClick('/furnizori')">
        <i class="fa fa-users"></i> Furnizori
      </a>
    </li>
    <li class="menu-item">
      <a (click)="onItemClick('/Favorite')">
        <i class="fa fa-heart"></i> Favorite
      </a>
    </li>
    <li *ngIf="isAdminOrMarketingLoggedIn()" class="menu-item">
      <a (click)="onItemClick('/admin-dashboard')">
        <i class="fa fa-cogs"></i> Admin Dashboard
      </a>
    </li>
    <li class="menu-item">
      <a *ngIf="!isLoggedIn()" (click)="onItemClick('/autentificare')">
        <i class="fa fa-sign-in"></i> Autentifică-te
      </a>
    </li>
    <li class="menu-item">
      <a *ngIf="isLoggedIn()" (click)="logOutMobile()">
        <i class="fa fa-sign-out"></i> Deconectează-te
      </a>
    </li>
    <li *ngIf="!isLoggedIn()" class="menu-item">
      <a (click)="onItemClick('/Inscriere')">
        <i class="fa fa-user-plus"></i> Înscrie-te
      </a>
    </li>
  </ul>
</div>
