nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    height: 60px;
  }

  .secondnav {
    height: 40px;
    background: linear-gradient(to right, #FE8962, #FF63A4);
  }

  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-right: 10px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  .menu li a:hover {
    background-color:#FF63A4;
    color: #fff;
  }

  .secondnav {
    height: 60px;
    padding: 0;
    background: linear-gradient(to right, #FF63A4, #FE8962);
  }
  
  .second-menu {
    list-style: none;
    margin-left: 100px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align links to the left */
  }
  
  .second-menu li {
    margin-right: 10px;
  }
  
  .second-menu li:last-child {
    margin-right: 0;
  }
  
  .second-menu li a {
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  .second-menu li a:hover {
    color: #fff;
    border: 1px solid white;
  }

  .overlay-section {
    position: absolute;
    top: 160; /* Specify a unit (e.g., pixels) */
    left: 0;
    width: 60%;
    height: 600px;
    background-color: white;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 5%;
  }
  
  .categories-section {
    width: 90%;
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the container */
    height: 600px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
  }
  
  .category {
    width: 23%; /* Adjust the width to fit 4 columns with some spacing */
    text-align: center;
    margin: 0;
  }

  .menuLink {
    padding-top: 19px !important;
    padding-bottom: 20px !important;
  }

  .menuLink:hover {
    background-color: white;
    color: black !important;
  }

  .subMenuLinks{
    margin: 0 !important;
    padding: 0 !important;
  }

  .subMenuLinks:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .overlay-section {
    position: absolute;
    top: 160; /* Specify a unit (e.g., pixels) */
    left: 0;
    width: 60%;
    height: 600px;
    background-color: white;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 5%;
  }
  
  

  /*mobile section       ************************************************/
  .mobile-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    text-align: center;
    width: 100vw;
  }
  
  .left-content {
    position: absolute;
    left: 10px;
  }

  .right-content {
    position: absolute;
    right: 10px;
  }
  
  .center-content {
    flex: 1;
    text-align: center;
  }

  
  
  /* Add this to hide the menu initially */
  .overlay.hidden {
    display: none;
  }
  
  .menu-list {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-list li {
    margin-bottom: 10px;
  }
  
  .menu-list a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
  }
  
  .menu-container {
    display: inline-block;
    cursor: pointer;
  }
  
  .menu-bar1, .menu-bar2, .menu-bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .menu-change .menu-bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .menu-change .menu-bar2 {opacity: 0;}
  
  .menu-change .menu-bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .mobile-nav button{
    border: 0;
    background-color:transparent;
  }

  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60px; /* Adjusted to match your navbar height */
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px); /* Subtract the navbar height from viewport height */
    background: rgba(255, 255, 255, 0.9);
    z-index: 9999;

  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    margin-top: 20px; /* Add some space from the top */
  }
  
  .menu-item {
    font-size: 24px; /* Adjust the font size as needed */
    margin-bottom: 10px; /* Add space between items */
    font-weight: bold;
  }
  
  .menu-item a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 5px 10px; /* Add padding for space around the text */
    border-radius: 5px;
  }
  
  .menu-item a:hover {
    font-weight: bold;
  }