<div *ngIf="!(isMobile | async)">
  <nav (mouseover)="showCategoriesFromLink = false">
    <div class="logo">
      <a routerLink="/acasa"><img
    style="margin: left 50px;"
    width="100"
    src="assets\imagesandvideos\pinklogo.png"
  /></a>
    </div>
    <ul class="menu">
      <ng-container *ngIf="!isLoggedIn(); else loggedIn">
        <li><a routerLink="/Favorite">Favorite</a></li>
        <li><a routerLink="/autentificare">Autentifica-te</a></li>
        <li><a routerLink="/Inscriere">Inscrie-te</a></li>
      </ng-container>
      <ng-template #loggedIn>
        <!-- Display something else when logged in, e.g., an icon -->
        <li><a routerLink="/Favorite">Favorite</a></li>
        <li><a routerLink="/profil"><i class="fa fa-user"></i> Profil</a></li>
        <li class="logout" (click)="logOut()"><a> Deconecteaza-te</a></li>
      </ng-template>
    </ul>
  </nav>
  <nav class="secondnav">
    <ul class="second-menu">
      <li (mouseover)="showCategoriesFromLink = true"><a class="menuLink" routerLink="/furnizori">Furnizori</a></li>
      <li (mouseover)="showCategoriesFromLink = false"><a routerLink="/noutati">Blog</a></li>
    <li (mouseover)="showCategoriesFromLink = false"><a routerLink="/despre-noi">Despre Noi</a></li>
      <li (mouseover)="showCategoriesFromLink = false"><a routerLink="/contact">Contact</a></li>
      <li *ngIf="isPartnerLoggedIn()" (mouseover)="showCategoriesFromLink = false"><a routerLink="/dashboard">Dashboard Partener</a></li>
      <li *ngIf="isAdminOrMarketingLoggedIn()" (mouseover)="showCategoriesFromLink = false"><a routerLink="/admin-dashboard">Admin Dashboard</a></li>
      
    </ul>
  </nav>   
</div>

<div (mouseover)="showCategoriesFromMenu = true" (mouseleave)="hideOverlay()" class="overlay-section" *ngIf="showCategoriesFromLink || showCategoriesFromMenu">
  <!-- Your section content goes here -->
  <div class="category-grid">
    <div class="category-item" *ngFor="let category of categories">
      <a [routerLink]="['/furnizori', category.id, 'Serviciu']" class="subMenuLinks"><p class="plinks">{{ category.name }}</p></a>
    </div>
  </div>
</div>


<div *ngIf="(isMobile | async)" class="mobile-nav">
  <div class="left-content">
    <button (click)="toggleCollapse()" mat-menu-item><div class="menu-container">
      <div class="menu-bar1"></div>
      <div class="menu-bar2"></div>
      <div class="menu-bar3"></div>
    </div></button>
  </div>
  <div class="center-content">
    <a routerLink="/acasa">
      <img width="80" src="assets\imagesandvideos\pinklogo.png" />
    </a>
  </div>
  <div *ngIf="isLoggedIn()" class="right-content"><a routerLink="/profil"><i class="fa fa-user-circle-o" style="font-size:36px"></i></a></div>
</div>

<div *ngIf="showMenu" class="overlay">
  <ul class="menu-list">
   
    <li class="menu-item">
      <a (click)="onItemClick('/acasa')">Acasa</a>
    </li>
    <li class="menu-item">
      <a (click)="onItemClick('/despre-noi')">Despre noi</a>
    </li>
    <li class="menu-item">
      <a (click)="onItemClick('/contact')">Contact</a>
    </li>
    <li *ngIf="isPartnerLoggedIn()" class="menu-item">
      <a (click)="onItemClick('/dashboard')">Dashboard Partener</a>
    </li>
    <li class="menu-item">
      <a (click)="onItemClick('/noutati')">Blog</a>
    </li>
    <li class="menu-item">
      <a (click)="onItemClick('/furnizori')">Furnizori</a>
    </li>
    <li class="menu-item">
      <a (click)="onItemClick('/Favorite')">Favorite</a>
    </li>
    <li *ngIf="isAdminOrMarketingLoggedIn()" class="menu-item">
      <a (click)="onItemClick('/admin-dashboard')">Admin Dashboard</a>
    </li>
    <li class="menu-item">
      <a *ngIf="!isLoggedIn()" (click)="onItemClick('/autentificare')">Autentifica-te</a>
    </li>
    <li class="menu-item">
      <a *ngIf="isLoggedIn()" (click)="logOutMobile()">Deconecteaza-te</a>
    </li>
    <li *ngIf="!isLoggedIn()" class="menu-item">
      <a (click)="onItemClick('/Inscriere')">Inscrie-te</a>
    </li>
  </ul>
</div>