<div>
    <h1>Schimbari furnizori</h1>
    <mat-form-field>
        <input matInput [formControl]="searchControl" placeholder="Cautare">
      </mat-form-field>
  <div>
    <table mat-table [dataSource]="dataSource" matSort>
      
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nume </th>
        <td mat-cell *matCellDef="let profile"> {{ profile.name }} </td>
      </ng-container>
      
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Categorie </th>
        <td mat-cell *matCellDef="let profile"> {{ profile.category }} </td>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actiuni </th>
        <td mat-cell *matCellDef="let profile">
           <button (click)="showChanges(profile)" style="margin-right: 20px" mat-raised-button color="accent">Schimbari</button>  
           <button (click)="acceptChanges(profile)" style="margin-right: 20px" mat-raised-button color="accent">Accepta schimbari</button>
           <button (click)="deleteChanges()" mat-raised-button color="accent">Sterge schimbari</button></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumnsProfilesChanged"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsProfilesChanged;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <app-supplier-profile *ngIf="changesProfileId" [changesProfileId]="changesProfileId"></app-supplier-profile>
</div>