<div *ngIf="!(isMobile | async)">
<ul class="card-list">
    <li *ngFor="let card of profileCards" class="card-item">
      <div class="card" (click)="onCardClick(card.id)">
        <div class="header">
          <div class="logo">
            <img src="{{ card.profileImage }}" alt="{{ card.name }} Logo" />
          </div>
          <div>
          <h3 style="margin-bottom: 0px; margin-top: 15px;">{{ card.name }}</h3>
          <h5 style="margin-top: 5px;"><i class="fa fa-map-marker" style="font-size:20px"></i> {{ card.city }}</h5>
        </div>
        </div>
        
        <img src="{{ card.profileImage }}" alt="{{ card.name }}" />
        <h4 style="margin-left: 10px;">{{ card.category.name }}</h4>
        <p style="margin-left: 10px;">{{ card.motto }}</p>
        
      </div>

      <div style="display: flex; justify-content: center; align-items: center;">
        <button mat-raised-button class="mobile-action-button" (click)="editProfile($event, card.id)">Editare profil</button>
      </div>

      <div style="display: flex; justify-content: center; align-items: center;">
        <button mat-raised-button class="mobile-action-button">Stergere profil</button>
        
      </div>
      
    </li>
  </ul>
</div>


<div *ngIf="(isMobile | async)" class="mobile-card-container">
    <div  *ngFor="let card of profileCards" class="mobile-card" (click)="onCardClick(card.id)">
        <div class="mobile-card-header">
          <p class="mobile-card-name">{{ card.name }}</p>
          <p class="mobile-card-location"><i class="fa fa-map-marker" style="font-size:15px"></i> {{ card.city }}</p>
        </div>
        <div class="mobile-card-image">
          <img src="{{ card.profileImage }}" alt="Image Description">
        </div>
        <div class="mobile-card-details">
          <p class="mobile-card-category">{{ card.category.name }}</p>
          <p class="mobile-card-description">{{ card.motto }}</p>
        </div>
        <button mat-raised-button class="mobile-action-button" (click)="editProfile($event, card.id)">Editare profil</button>
        <button mat-raised-button class="mobile-action-button">Stergere profil</button>

      </div>
</div>