.contact-tab {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 100%;
}

.column {
  margin-top: 30px; /* Fixed margin-top */
  margin-right: 100px; /* Add margin-right for spacing between columns */
  text-align: left;
}

.column:last-child {
  margin-right: 0; /* Remove margin-right for the last column */
}

.icons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

/* Style the icons as needed */
.icons i {
  font-size: 24px;
  margin: 0 5px;
}

/* Add additional styling as needed */
h2 {
  color: #333;
  font-weight: 400;
}

p {
  color: #666;
}

.fa-facebook {
  background: white;
  color: gray;
}

.fa-instagram {
  background:white;
  color: gray ;
}

.fa {
  padding: 5px;
  font-size: 28px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.mobile-contact-tab h2 {
  font-weight: 500;
}

.mobile-contact-tab {
  margin-left: 10px;
}


