<div  *ngIf="!(isMobile | async)" class="contact-tab">
  <div class="column">
    <h2>Contact</h2>
    <p>Email: officeeventador&#64;gmail.com</p>
    <div class="icons">
      <!-- Replace with your icon elements or use icon fonts -->
      <a href="https://www.facebook.com/eventador.ro" target="_blank" class="fa fa-facebook"></a>
      <a href="https://www.instagram.com/eventador.ro" target="_blank" class="fa fa-instagram"></a>
    </div>
  </div>

  <div class="column">
    <h2>Informatii utile</h2>
    <p [routerLink]="['/TermenisiConditii']">Termeni si conditii</p>
    <p [routerLink]="['/GDPR']">Politica de confidentialitate</p>
    <p [routerLink]="['/ANPC']">ANPC</p>
  </div>

  <div class="column">
    <h2>Navigatie</h2>
    <p [routerLink]="['/noutati']">Blog</p>
    <p [routerLink]="['/furnizori']">Furnizori</p>
    <p [routerLink]="['/contact']">Contact</p>
  </div>
</div>

<div  *ngIf="(isMobile | async)" class="mobile-contact-tab">
  <div>
    <h2>Contact</h2>
    <p>Email: officeeventador&#64;gmail.com</p>
    <div>
      <!-- Replace with your icon elements or use icon fonts -->
      <a href="https://www.facebook.com/eventador.ro" target="_blank" class="fa fa-facebook"></a>
      <a href="https://www.instagram.com/eventador.ro" target="_blank" class="fa fa-instagram"></a>
    </div>
  </div>

  <div>
    <h2>Informatii utile</h2>
    <p [routerLink]="['/TermenisiConditii']">Termeni si conditii</p>
    <p [routerLink]="['/GDPR']">Politica de confidentialitate</p>
    <p [routerLink]="['/ANPC']">ANPC</p>

  </div>

  <div>
    <h2>Navigatie</h2>
    <p [routerLink]="['/noutati']">Blog</p>
    <p [routerLink]="['/furnizori']">Furnizori</p>
    <p style="margin-bottom: 0px !important; border-bottom: 10px solid black;" [routerLink]="['/contact']">Contact</p>
  </div>
</div>