<div class="intro-container" [ngClass]="{ 'mobile-layout': isMobile | async }">
  <h1 class="intro-title">Bun venit pe Eventador, locul unde fiecare eveniment devine o experiență memorabilă!</h1>
  <p class="intro-text">
    Aici, nu ne dorim să fim doar o simplă platformă de organizare de evenimente, ci un adevărat motor de căutare dedicat universului evenimentelor, atât private, cât și publice.
  </p>
  <p class="intro-text">
    Viziunea noastră este de a transforma Eventador în destinația preferată pentru toți cei care doresc să exploreze și să participe la evenimente fascinante, la nivel național într-o primă etapă, iar ulterior, și internațional.
  </p>
  <p class="intro-text">
    Te invităm să explorezi cele mai căutate locații, furnizori de elită și cele mai creative servicii, toate concepute pentru a transforma fiecare petrecere, nuntă sau botez într-o experiență memorabilă!
  </p>
  <p class="intro-text">
    Eventador este locul ideal pentru cei care doresc să organizeze sau să participe la diverse evenimente unice. Indiferent dacă este vorba de petreceri private, evenimente publice sau activități culturale, Eventador îți pune la dispoziție diferite opțiuni pentru a te bucura de momente de neuitat!
  </p>
  <p class="intro-text">
    Imaginați-vă un loc unde poți să navighezi dintr-o parte în alta, să identifici evenimente cu impact mare în societate, să te conectezi direct cu furnizorii preferați și să îți pui în practică cele mai îndrăznețe idei.
  </p>
  <p class="intro-text">
    Pe scurt, Eventador îți va oferi o experiență de căutare completă de la A-Z în lumea evenimentelor.
  </p>
  <p class="intro-text">
    Împreună, putem transforma acest proiect într-o platformă care să unească pasiunile și dorințele comunității noastre, făcând fiecare eveniment nu doar o simplă întâlnire, ci un prilej de celebrare și conectare.
  </p>
  <p class="intro-text">
    <strong>Vino alături de noi și descoperă cum putem transforma împreună viitorul evenimentelor!</strong>
  </p>
</div>