  <div *ngIf="!(isMobile | async)"> 
  <div class="second-section">
    <h2 class="section-title">Salut și bine ai venit pe eventador.ro!</h2>
    <p class="section-text">{{ secondSectionDescription }}</p>
  </div>
  
  <div class="third-section">
    <div class="left-subsection">
      <h3 class="subsection-title">Orice Tipuri de Evenimente</h3>
      <p class="subsection-text">Indiferent de tematica petrecerii tale (botez, nuntă, majorat, petrecere privată, etc), noi ținem cont de toate necesitățile tale și ți le punem la dispoziție GRATUIT!</p>
      <p class="subsection-text">De la locații, artiști, trupe, foto / video, aranjamente, barmani, gheată carbonică/artificii, limuzine, la exclusivități feminine cum ar fi flori, bijuterii, rochii de mireasă, saloane de înfrumusețare și tot indispensabilul pentru confortul tău!</p>
    
      <h3 class="subsection-title">Tu Alegi</h3>
      <p class="subsection-text">Alege singur tot ceea ce consideri că este potrivit pentru tine și invitații tăi. Acum ai ocazia să faci acest lucru!</p>
    
    </div>
    <div class="right-subsection">
      <h3 class="subsection-title">Profile Furnizori Evenimente</h3>
      <p class="subsection-text">Îți punem la dispoziție site-urile de prezentare și link-urile către rețelele de socializare ale celor mai de seama prestatori de servicii din domeniul evenimentelor precum și contactele actualizate ale acestora, prin intermediul cărora poți lua legătura chiar tu cu ei, evitând astfel intermediarii și comisioanele.</p>
      <p class="subsection-text">De asemenea poți verifica disponibilitatea, tarifele precum și urmări activitatea furnizorului dorit prin intermediul rețelelor de socializare.</p>
    
      <h3>Acces Gratuit</h3>
      <p class="subsection-text">Accesul este gratuit și așa va rămâne. În cel mai scurt timp, vei avea și posibilitatea să descarci și aplicația EVENTADOR disponibilă pentru IOS/Android.</p>
    </div>
  </div>
</div> 

<div *ngIf="(isMobile | async)" class="mobile-container">
  <div class="mobile-section" *ngFor="let section of sections">
    <h2><strong>{{ section.title }}</strong></h2>
    <p>{{ section.text }}</p>
  </div>
</div>