<div *ngIf="!(isMobile | async)">
  <div *ngIf="favoriteProfilesPage && !noFavoritesMessageVisible" class="filter-bar-favorite"><h1>Furnizori favoriti</h1></div>
  <div *ngIf="favoriteProfilesPage && !noFavoritesMessageVisible && !currrentUserLoggedIn" class="filter-bar-favorite-message"><h2>Te invitam sa te inscrii in platforma eventador pentru a-ti pastra preferintele!</h2></div>
  <div *ngIf="favoriteProfilesPage && noFavoritesMessageVisible" class="filter-bar-favorite"><h1>Nu ati adaugat la favorite nici un furnizor!</h1></div>
  <div *ngIf="!favoriteProfilesPage" class="filter-bar">
    <h1>Filtrati furnizorii dupa criteriile dorite</h1>
    <div class="filter-controls">
      <mat-form-field class="custom-input">
        <input matInput placeholder="Cautare dupa nume" [(ngModel)]="searchTerm" name="searchTerm">
      </mat-form-field>

      
      <mat-form-field class="custom-dropdown">
        <mat-label>Categorie</mat-label>
        <mat-select [(ngModel)]="selectedCategory">
          <mat-option *ngFor="let category of categories" [value]="category.id" >{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field class="custom-dropdown">
        <mat-label>Zona de activitate</mat-label>
        <mat-select [(ngModel)]="selectedZone">
          <mat-option *ngFor="let zone of zones" [value]="zone.id" >{{ zone.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      
      <button class="filter-button" (click)="applyFilters()">Aplica filtre</button>
      <button class="filter-button" (click)="clearFilters()">Resetare filtre</button>
    </div>
  </div>
<ul class="card-list">
    <li *ngFor="let card of filteredProfileCards" class="card-item">
      <div class="card" (click)="onCardClick(card)">
        <div class="favorite-icon" (click)="onHeartClick($event, card.id)" [ngClass]="{'favorited': isFavorite(card.id)}">
          <i class="fa fa-heart"></i>
        </div>
        <div class="header">
          <div class="logo">
            <img src="{{ card.profileImage }}" alt="{{ card.name }} Logo" />
          </div>
          <div>
          <h3 style="margin-bottom: 0px; margin-top: 15px;">{{ card.name }}</h3>
          <h5 style="margin-top: 5px;"><i class="fa fa-map-marker" style="font-size:20px"></i> {{ card.city }}</h5>
        </div>
        </div>
        
        <img src="{{ card.profileImage }}" alt="{{ card.name }}" />
        <h4 style="margin-left: 10px;">{{ card.category.name }}</h4>
        <p style="margin-left: 10px;">{{ card.motto }}</p>
      </div>
    </li>
  </ul>
</div>
  <div *ngIf="(isMobile | async)" class="mobile-card-container">
    <h2  *ngIf="favoriteProfilesPage && !noFavoritesMessageVisible" class="mobile-filter-heading">Furnizori favoriti</h2>
    <h3  *ngIf="favoriteProfilesPage && !noFavoritesMessageVisible && !currrentUserLoggedIn" class="mobile-filter-heading">Te invitam sa te inscrii in platforma eventador pentru a-ti pastra preferintele!</h3>
    <h2  *ngIf="favoriteProfilesPage && noFavoritesMessageVisible" class="mobile-filter-heading">Nu ati adaugat la favorite nici un furnizor!</h2>
    <h2  *ngIf="!favoriteProfilesPage" class="mobile-filter-heading" (click)="toggleFilter()">Filtrare furnizori</h2>
    <div *ngIf="!favoriteProfilesPage" [ngClass]="{'mobile-filter-container': true, 'show-container': showFilter}">  
  <div class="mobile-filter-section">
    <mat-form-field>
      <input matInput placeholder="Cautare dupa nume" [(ngModel)]="searchTerm" name="searchTerm" >
    </mat-form-field>
  </div>
  
  <div class="mobile-filter-section">
    <mat-form-field>
      <mat-label>Categorie</mat-label>
      <mat-select [(ngModel)]="selectedCategory">
        <mat-option *ngFor="let category of categories" [value]="category.id" >{{ category.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div class="mobile-filter-section">
    <mat-form-field>
      <mat-label>Zona de activitate</mat-label>
      <mat-select [(ngModel)]="selectedZone">
        <mat-option *ngFor="let zone of zones" [value]="zone.id" >{{ zone.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div class="mobile-button-row">
    <button class="moblele-filter-button" (click)="applyFilters()">Aplica filtre</button>  
    <button class="mobile-filter-button" (click)="clearFilters()">Resetare filtre</button>
  </div>
</div>
  <div  *ngFor="let card of filteredProfileCards" class="mobile-card" (click)="onCardClick(card)">
    <div class="favorite-icon-mobile" (click)="onHeartClick($event, card.id)" [ngClass]="{'favorited': isFavorite(card.id)}">
      <i class="fa fa-heart"></i>
    </div>
    <div class="mobile-card-header">
      <p class="mobile-card-name">{{ card.name }}</p>
      <p class="mobile-card-location"><i class="fa fa-map-marker" style="font-size:15px"></i> {{ card.city }}</p>
    </div>
    <div class="mobile-card-image">
      <img src="{{ card.profileImage }}" alt="Image Description">
    </div>
    <div class="mobile-card-details">
      <p class="mobile-card-category">{{ card.category.name }}</p>
      <p class="mobile-card-description">{{ card.motto }}</p>
    </div>
  
  </div>
</div>

