.card {
    width: 300px; /* Adjust the width as needed */
    height:500px; /* Twice the width */
    background-color: #fff;
    border: 1px solid #f2f2f2;
    text-align: left;
    border-radius: 5%;
    cursor: pointer;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  .card:hover{
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: 50%; /* Half of the card height */
    object-fit: cover;
  }
  
  .card-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f8f8f8;
    margin-top: 0px;
  }
  
  .card-item {
    margin: 3vw; /* Adjust the spacing between cards */
  }

  .header {
    margin-top: 15px;
    margin-left: 10px;
    display: flex;
    align-items: left;
    justify-content: left;
    margin-bottom: 10px; /* Optional: Add some spacing between the header and the content */
  }
  
  .logo img {
    width: 70px; /* Adjust the width of the mini logo as needed */
    height: 70px; /* Adjust the height of the mini logo as needed */
    margin-right: 10px; /* Optional: Add some spacing between the logo and the name */
    border-radius: 50%;
    object-fit: cover;
  }

  .filter-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    height: 150px;
    padding: 0 20px;
    margin: 0 0;
    flex-direction: column;
  }

  .filter-controls {
    display: flex;
  }
  
  .filter-input,
  .filter-dropdown {
    width: 200px !important;
    padding: 10px;
    margin: 0 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filter-dropdown {
    background-color: #fff;
    
  }

  .category-dropdown, .zone-dropdown {
    width: 150px; /* Adjust the width of the dropdowns as needed */
  }

  .mobile-card-container {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #f8f8f8;

  }

  .mobile-card {
    width: 60%;
    height: auto;
    margin: 10px auto;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #f2f2f2;
    border-radius: 5%;
    background-color: white;
  }
  
  .mobile-card-header {
    text-align: left;
    margin-left: 15px;
  }
  
  .mobile-card-image img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  
  .mobile-card-details {
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
  }

  .mobile-card-name {
    font-size: large;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .mobile-card-category {
    color: gray;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .mobile-card-description{
    margin-top: 0px;
  }

  .mobile-card-location{
    margin-top: 1px;
    margin-bottom: 5px;
  }

  .filter-button {
    width: 100px;
    margin-right: 5px;
    color:white;
    background: linear-gradient(to right, #FF63A4, #FE8962);;
    border: none;
    border-radius: 3%;
  }

  .mobile-filter-input,
  .mobile-filter-dropdown {
    padding: 10px;
    margin: 2px 5px;  
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .mobile-filter-dropdown {
    background-color: #fff;
    
  }

  .mobile-filter-input {
    width: 200px; /* Adjust the width of the dropdowns as needed */
  }

  .mobile-category-dropdown, .mobile-zone-dropdown {
    width: 222px; /* Adjust the width of the dropdowns as needed */
  }

  .mobile-filter-container{
    background-color: #f8f8f8;
    max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  }
  .show-container {
    max-height: 500px; /* Adjust the max height as needed */
  }

  .mobile-filter-button{
    background-color:#7643CA;
    color: white;
    border:none;
    border-radius: 5%;
    margin: 5px 10px;
    height:40px;
    width:110px;
  }

  