<div *ngIf="!(isMobile | async)">
  <div *ngIf="favoriteProfilesPage && !noFavoritesMessageVisible" class="filter-bar-favorite">
    <h1>Furnizori favoriți</h1>
  </div>
  <div *ngIf="favoriteProfilesPage && !noFavoritesMessageVisible && !currrentUserLoggedIn" class="filter-bar-favorite-message">
    <h2>Te invitam să te înscrii în platforma eventador pentru a-ți păstra preferințele!</h2>
  </div>
  <div *ngIf="favoriteProfilesPage && noFavoritesMessageVisible" class="filter-bar-favorite">
    <h1>Nu ați adăugat la favorite nici un furnizor!</h1>
  </div>
  <div *ngIf="!favoriteProfilesPage" class="filter-bar">
    <h1>Filtrați furnizorii după criteriile dorite</h1>
    
    <form class="filter-controls" (ngSubmit)="applyFilters()" #filterForm="ngForm">
      
      <div class="autocomplete-wrapper">
        <mat-form-field class="custom-input">
          <input matInput placeholder="Caută furnizor" [(ngModel)]="searchTerm" name="searchTerm" (ngModelChange)="onSearchTermChanged($event)" (blur)="onInputBlur()" (focus)="onInputFocus()">
        </mat-form-field>
      
        <div *ngIf="dropdownVisible && filteredResults.length > 0" class="autocomplete-dropdown">
          <div 
            *ngFor="let item of filteredResults" 
            class="autocomplete-item" 
            (click)="onItemSelected(item)">
            {{ item.name }}
          </div>
        </div>
      </div>
  
      <mat-form-field class="custom-dropdown">
        <mat-label>Categorii</mat-label>
        <mat-select [(ngModel)]="selectedCategoryGroup" name="selectedCategoryGroup" (selectionChange)="onCategoryGroupChange($event)">
          <mat-option [value]="null">Nicio categorie</mat-option>
          <mat-option *ngFor="let category of categoryGroups" [value]="category.id">{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="custom-dropdown">
        <mat-label>Servicii</mat-label>
        <mat-select [(ngModel)]="selectedCategories" name="selectedCategories" multiple>
          <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="custom-dropdown">
        <mat-label>Zona de activitate</mat-label>
        <mat-select [(ngModel)]="selectedZone" name="selectedZone">
          <mat-option *ngFor="let zone of zones" [value]="zone.id">{{ zone.name }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Use type="submit" so Enter works -->
      <button class="filter-button" type="submit">Aplică filtre</button>
      <button class="filter-button" type="button" (click)="clearFilters()">Resetare filtre</button>
    </form>
  </div>
  <div *ngIf="!loading && filteredProfileCards.length === 0 && !favoriteProfilesPage" class="no-results-message">
    Nu există furnizori pentru filtrele selectate.
  </div>
  <ul class="card-list">
    <li *ngFor="let card of filteredProfileCards" class="card-item">
      <div class="card" (click)="onCardClick(card)">
        <div class="header">
          <div class="logo">
            <img src="{{ card.profileImage }}" />
          </div>
          <div style="flex: 1; min-width: 0;">
            <h3 style="
              margin: 5px 0 0 0;
              word-break: break-word;
              overflow-wrap: break-word;
              font-size: 18px;
            ">{{ card.name }}</h3>
            <h5 style="margin-top: 5px;"><i class="fa fa-map-marker" style="font-size:20px"></i> {{ card.city }}</h5>
          </div>
          <div class="favorite-icon" (click)="onHeartClick($event, card.id)" [ngClass]="{'favorited': isFavorite(card.id)}">
            <i class="fa fa-heart"></i>
          </div>
        </div>

        <img src="{{ card.profileImage }}" />
        <div class="rating-container">
          <div class="stars">
            <ng-container *ngFor="let star of getStarsArray(card.averageRating)">
              <!-- Full Star -->
              <i class="fa fa-star star-full" *ngIf="star.full"></i>
        
              <!-- Half Star -->
              <i class="fa fa-star star-half" *ngIf="star.half"></i>
        
              <!-- Empty Star -->
              <i class="fa fa-star star-empty" *ngIf="star.empty"></i>
            </ng-container>
          </div>
          <span class="rating-text">{{ card.averageRating.toFixed(1) }} ({{ card.numberOfReviews }})</span>
        </div>
        <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; text-align: center; margin-top: 5px; width: 100%;">
          <h5 *ngFor="let category of card.categories" style="margin: 2px 5px; background-color: lightgray; padding: 3px 8px; border-radius: 5px; white-space: nowrap; line-height: 1; overflow: hidden; text-overflow: ellipsis;">
            {{ category.name }}
          </h5>
        </div>
        <p class="motto-text" style="margin-left: 10px;">{{ card.motto }}</p>
      </div>
    </li>
  </ul>
  <div *ngIf="loading" class="loading-spinner">
    <p>Se incarcă...</p>
  </div>
</div>
<div *ngIf="(isMobile | async)" class="mobile-card-container">
  <h2 *ngIf="favoriteProfilesPage && !noFavoritesMessageVisible" class="mobile-filter-heading">Furnizori favoriți</h2>
  <h3 *ngIf="favoriteProfilesPage && !noFavoritesMessageVisible && !currrentUserLoggedIn" class="mobile-filter-heading">Te invitam să te înscrii în platforma eventador pentru a-ți păstra preferințele!</h3>
  <h2 *ngIf="favoriteProfilesPage && noFavoritesMessageVisible" class="mobile-filter-heading">Nu ați adăugat la favorite nici un furnizor!</h2>
  <h2 *ngIf="!favoriteProfilesPage" class="mobile-filter-heading" (click)="toggleFilter()">Filtrare furnizori <i [ngClass]="showFilter ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></h2>
  <div *ngIf="!favoriteProfilesPage" [ngClass]="{'mobile-filter-container': true, 'show-container': showFilter}">
    <div class="mobile-filter-section">
      <div class="autocomplete-wrapper-mobile">
        <mat-form-field>
          <input
            matInput
            placeholder="Caută furnizor"
            [(ngModel)]="searchTerm"
            (ngModelChange)="onSearchTermChanged($event)"
            (blur)="dropdownVisible = false"
            (focus)="dropdownVisible = true"
          />
        </mat-form-field>
      
        <div *ngIf="dropdownVisible && filteredResults.length > 0" class="autocomplete-dropdown-mobile">
          <div
            *ngFor="let item of filteredResults"
            class="autocomplete-item-mobile"
            (mousedown)="onItemSelected(item)"
          >
            {{ item.name }}
          </div>
        </div>
      </div>
      
    </div>

    <div class="mobile-filter-section">
      <mat-form-field>
        <mat-label>Categorie</mat-label>
        <mat-select [(ngModel)]="selectedCategoryGroup" (selectionChange)="onCategoryGroupChange($event)">
          <mat-option [value]="null">Nicio categorie</mat-option>
          <mat-option *ngFor="let category of categoryGroups" [value]="category.id">{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="mobile-filter-section">
      <mat-form-field>
        <mat-label>Servicii</mat-label>
        <mat-select [(ngModel)]="selectedCategories" multiple>
          <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="mobile-filter-section">
      <mat-form-field>
        <mat-label>Zona de activitate</mat-label>
        <mat-select [(ngModel)]="selectedZone">
          <mat-option *ngFor="let zone of zones" [value]="zone.id">{{ zone.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="mobile-button-row">
      <button class="mobile-filter-button" (click)="clearFilters()">Resetare filtre</button>
      <button class="mobile-filter-button" (click)="applyFilters()">Aplică filtre</button>
    </div>
  </div>
  <div *ngIf="!loading && filteredProfileCards.length === 0 && !favoriteProfilesPage" class="no-results-message-mobile">
    Nu există furnizori pentru filtrele selectate.
  </div>
  <div *ngFor="let card of filteredProfileCards" class="mobile-card" (click)="onCardClick(card)">
    <div class="favorite-icon-mobile" style="z-index: 1000;" (click)="onHeartClick($event, card.id)" [ngClass]="{'favorited': isFavorite(card.id)}">
      <i class="fa fa-heart"></i>
    </div>
    <div class="mobile-card-header">
      <p class="mobile-card-name">{{ card.name }}</p>
      <div class="favorite-icon-mobile" (click)="onHeartClick($event, card.id)" [ngClass]="{'favorited': isFavorite(card.id)}"></div>
      <p class="mobile-card-location"><i class="fa fa-map-marker" style="font-size:15px"></i> {{ card.city }}</p>
    </div>
    <div class="mobile-card-image">
      <img src="{{ card.profileImage }}">
    </div>
    <div class="rating-container">
      <div class="stars">
        <ng-container *ngFor="let star of getStarsArray(card.averageRating)">
          <!-- Full Star -->
          <i class="fa fa-star star-full" *ngIf="star.full"></i>
    
          <!-- Half Star -->
          <i class="fa fa-star star-half" *ngIf="star.half"></i>
    
          <!-- Empty Star -->
          <i class="fa fa-star star-empty" *ngIf="star.empty"></i>
        </ng-container>
      </div>
      <span class="rating-text">{{ card.averageRating.toFixed(1) }} ({{ card.numberOfReviews }})</span>
    </div>
    <div class="mobile-card-details">
      <div class="categories-container" style="text-align: center;">
        <h5 *ngFor="let category of card.categories" class="mobile-card-category">
          {{ category.name }}
        </h5>
      </div>
      <p class="mobile-card-description">{{ card.motto }}</p>
    </div>
  </div>
  <div *ngIf="loading" class="loading-spinner">
    <p>Se incarcă...</p>
  </div>
</div>