<!-- ✅ Desktop Version -->
<div *ngIf="!(isMobile | async)">
  <!-- Stats Cards -->
  <div class="cards-container">
    <div class="cards">
      <div class="card">
        <span class="card-text">Nume Afiliat</span>
        <span class="card-text">{{ partnerName }}</span>
      </div>
      <div class="card">
        <span class="card-text">Furnizori</span>
        <span class="card-text">{{ usersNumber }}</span>
      </div>
      <div class="card">
        <span class="card-text">Servicii oferite</span>
        <span class="card-text">{{ profilesNumber }}</span>
      </div>
      <div class="card">
        <span class="card-text">Cheltuieli furnizori: {{suppliersCosts}} EUR</span>
        <span class="card-text">Profit afiliat: {{affiliateRevenue}} EUR</span>
      </div>
    </div>
  </div>

  <!-- Chart -->
  <div class="chart-container">
    <canvas id="profileChart"></canvas>
  </div>

  <!-- Table Section -->
  <div class="table-section">
    <h1 class="table-title">Furnizori</h1>
    <mat-form-field class="search-bar">
      <input matInput [formControl]="searchControl" placeholder="Cautare">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="profileName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nume </th>
          <td mat-cell *matCellDef="let profile" class="table-name" (click)="goToProfile(profile)">
            {{ profile.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Categorii </th>
          <td mat-cell *matCellDef="let profile"> {{ profile.categoryNames.join(', ') }} </td>
        </ng-container>

        <ng-container matColumnDef="dateAdded">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Data adaugarii </th>
          <td mat-cell *matCellDef="let profile"> {{profile.formattedDate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

<!-- ✅ Mobile Version -->
<div *ngIf="(isMobile | async)">
  <div class="cards-container">
    <div class="mobile-cards">
      <div class="mobile-card">
        <span class="mobile-card-text">Nume Afiliat</span>
        <span class="mobile-card-text">{{ partnerName }}</span>
      </div>
      <div class="mobile-card">
        <span class="mobile-card-text">Furnizori</span>
        <span class="mobile-card-text">{{ usersNumber }}</span>
      </div>
      <div class="mobile-card">
        <span class="mobile-card-text">Servicii oferite</span>
        <span class="mobile-card-text">{{ profilesNumber }}</span>
      </div>
      <div class="mobile-card">
        <span class="mobile-card-text">Cheltuieli furnizori: {{suppliersCosts}} EUR</span>
        <span class="mobile-card-text">Profit afiliat: {{affiliateRevenue}} EUR</span>
      </div>
    </div>
  </div>

  <!-- Chart -->
  <div class="mobile-chart-container">
    <canvas id="profileChart"></canvas>
  </div>

  <!-- Table Section -->
  <div class="mobile-table">
    <mat-form-field class="search-bar">
      <input matInput [formControl]="searchControl" placeholder="Cautare">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="profileName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nume </th>
          <td mat-cell *matCellDef="let profile" class="table-name" (click)="goToProfile(profile)">
            {{ profile.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Categorii </th>
          <td mat-cell *matCellDef="let profile"> {{ profile.categoryNames.join(', ') }} </td>
        </ng-container>

        <ng-container matColumnDef="dateAdded">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Adaugarii </th>
          <td mat-cell *matCellDef="let profile"> {{profile.formattedDate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
