

  
  /* Additional styling for name, date added, category, and location */
  
  .cards-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .cards {
    display: flex;
    gap: 20px; /* Space between cards */
  }

  .card {
    width: 150px;
    height: 60px;
    border-bottom: 5px solid black;
    border-radius: 5%;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center;
  }

  .initials-card {
    width: 150px;
    height: 60px;
    border-bottom: 5px solid black;
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    font-family: Roboto, "Helvetica Neue", sans-serif;
    border-radius: 5%;
  }
  

  .table-section {
    margin-top: 50px !important;
    justify-content: center;
    width: 70%;
    margin: 20px auto; /* Adjust margin as needed */
  }
  
  .table-container {
    width: 100%; /* Ensure the table takes full width */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
  }

  .table-title {
    text-align: center;
    margin-bottom: 20px; /* Adjust margin as needed */
    
  }

  .chart-section {
    margin-top: 50px !important;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .card-text {
    font-size: 16px;
  }
  
  .chart-container {
      width: 400px;
      height: 400px;
      margin: auto;
      align-content: center;
    }
  

    /* mobile section */
    .mobile-cards-container {
      display: flex;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      margin-top: 20px;
      margin-bottom: 40px;
    }
  
    .mobile-cards {
      display: flex;
      flex-direction: column;
      gap: 20px; /* Space between cards */
    }
  
    .mobile-card {
      width: 120px;
      height: 50px;
      border-bottom: 5px solid black;
      border-radius: 5%;
      display: flex;
      flex-direction: column; /* Stack content vertically */
      justify-content: center; /* Center content horizontally */
      align-items: center;
    }
  
    .mobile-initials-card {
      width: 120px;
      height: 50px;
      border: 5px solid black;
      font-weight: bold;
      font-size: 50px;
      display: flex;
      justify-content: center; /* Center content horizontally */
      align-items: center; /* Center content vertically */
      font-family: Roboto, "Helvetica Neue", sans-serif;
      border-radius: 5%;
    }
  
    .mobile-table {
      margin-top: 10px;
    }

    .mobile-chart-container {
      width: 90%;
      margin-top: 50px;
      margin-bottom: 50px;
      margin: auto;
      align-content: center;
    }

 