.rating-card {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 10px;
    width: 300px;
    background-color: white;
    border-radius: 5%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .user-rating {
    display: flex;
    flex-direction: column; /* Change this property */
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .rating-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .stars-and-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .star-rating {
    font-size: 24px;
  }
  
  .star {
    margin-right: 5px;
  }
  
  .filled {
    color: gold;
  }
  
  .username {
    font-weight: bold;
  }
  
  .review {
    margin-bottom: 10px;
  }
  
  .response {
    font-style: italic;
    color: #666;
    text-align: right;
  }

  .rating-container {
    width: 70%;
    margin: 0 auto; /* This centers the container horizontally */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .show-Response{
    background: linear-gradient(to right, #FF63A4, #FE8962);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-right: 5px;
    margin-left: auto;
  }

  .show-all-reviews {
    background: linear-gradient(to right, #FF63A4, #FE8962);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
  }

  .response-area-mobile {
    margin-left: 10px;
    width: 200px;
    height: 50px;
    margin-top: 5px;
  }

  .response-area {
    margin-left: 10px;
    margin-top: 5px;
    width: 270px;
    height: 60px;
  }

  .button-allReviews-section {
    width: 90%;
    text-align: center;
  }