<div class="container">
<div>
    <div class="left-panel">
    <div style="text-align: center;">
    <ol style="list-style: none; align-items: center; margin-left: 0px;">
        <li style="font-size: larger;" *ngFor="let category of categories"><button style="font-size: large; border:0px; background-color: white;">{{ category }}</button></li>
      </ol>
    </div>
</div>

<div class="right-panel">
  
  <mat-form-field class="example-form-field">
    <mat-label>Cautare</mat-label>
    <input matInput type="text" [(ngModel)]="value" (input)="inputChanged()" >
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="inputCleared()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


<div>
    <div *ngFor="let profilecard of searchedProfileCards" style="display:inline-block;">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{ profilecard.name }}</mat-card-title>
                  <mat-card-subtitle>{{ profilecard.location }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="card-image" src={{profilecard.image}} alt="Photo of a Shiba Inu" style="object-fit: cover;">
                <mat-card-content>
                  <p>
                    {{profilecard.description}}
                  </p>
                </mat-card-content>
              </mat-card>
      </div>
    </div>
  </div>
</div>
</div>