<div class="container">
    <div  *ngIf="!(isMobile | async)" class="form-container">
        <h1 style="text-align: center;">Schimba parola</h1>
      <div class="input-field">
        <mat-form-field>
          <input type="password" [(ngModel)]="oldPassword" matInput placeholder="Parola veche">
        </mat-form-field>
      </div>
      <p *ngIf="incorrectPassword" style="color: red; margin-top: -30px;">Parola nu este valida !</p>
      <div class="input-field">
        <mat-form-field>
          <input type="password" [(ngModel)]="newPassword" matInput placeholder="Parola noua">
        </mat-form-field>
      </div>
      <div class="input-field">
        <mat-form-field>
          <input type="password" [(ngModel)]="verifyPassword" matInput placeholder="Verificare parola noua">
        </mat-form-field>
      </div>
      <p *ngIf="passwordChangedSuccesfully">Parola a fost schimbata cu succes !</p>
      
      <button mat-raised-button [disabled]="checkPasswords()" (click)="changePassword()">Salveaza</button>
    </div>

    <div  *ngIf="(isMobile | async)" class="form-container-mobile">
        <h1 style="text-align: center;">Schimba parola</h1>
      <div class="input-field">
        <mat-form-field>
          <input type="password" [(ngModel)]="oldPassword" matInput placeholder="Parola veche">
        </mat-form-field>
      </div>
      <p *ngIf="incorrectPassword" style="color: red; margin-top: -30px;">Parola nu este valida !</p>
      <div class="input-field">
        <mat-form-field>
          <input type="password" [(ngModel)]="newPassword" matInput placeholder="Parola noua">
        </mat-form-field>
      </div>
      <div class="input-field">
        <mat-form-field>
          <input type="password" [(ngModel)]="verifyPassword" matInput placeholder="Verificare parola noua">
        </mat-form-field>
      </div>
      <p *ngIf="passwordChangedSuccesfully">Parola a fost schimbata cu succes !</p>
      
      <button mat-raised-button [disabled]="checkPasswords()" (click)="changePassword()">Salveaza</button>
    </div>
  </div>