<div class="container">
  <!-- ✅ Desktop Version -->
  <div *ngIf="!(isMobile | async)" class="form-container">
    <h1>Schimbă parola</h1>

    <div class="input-field">
      <mat-form-field appearance="outline">
        <mat-label>Parola veche</mat-label>
        <input type="password" [(ngModel)]="oldPassword" matInput>
      </mat-form-field>
    </div>

    <p *ngIf="incorrectPassword" class="error-text">Parola nu este validă!</p>

    <div class="input-field">
      <mat-form-field appearance="outline">
        <mat-label>Parola nouă</mat-label>
        <input type="password" [(ngModel)]="newPassword" matInput>
      </mat-form-field>
    </div>

    <div class="input-field">
      <mat-form-field appearance="outline">
        <mat-label>Verificare parola nouă</mat-label>
        <input type="password" [(ngModel)]="verifyPassword" matInput>
      </mat-form-field>
    </div>

    <p *ngIf="passwordChangedSuccesfully" class="success-text">Parola a fost schimbată cu succes!</p>

    <button mat-raised-button [disabled]="checkPasswords()" (click)="changePassword()">Salvează</button>
  </div>

  <!-- ✅ Mobile Version -->
  <div *ngIf="(isMobile | async)" class="form-container-mobile">
    <h1>Schimbă parola</h1>

    <div class="input-field">
      <mat-form-field appearance="outline">
        <mat-label>Parola veche</mat-label>
        <input type="password" [(ngModel)]="oldPassword" matInput>
      </mat-form-field>
    </div>

    <p *ngIf="incorrectPassword" class="error-text">Parola nu este validă!</p>

    <div class="input-field">
      <mat-form-field appearance="outline">
        <mat-label>Parola nouă</mat-label>
        <input type="password" [(ngModel)]="newPassword" matInput>
      </mat-form-field>
    </div>

    <div class="input-field">
      <mat-form-field appearance="outline">
        <mat-label>Verificare parola nouă</mat-label>
        <input type="password" [(ngModel)]="verifyPassword" matInput>
      </mat-form-field>
    </div>

    <p *ngIf="passwordChangedSuccesfully" class="success-text">Parola a fost schimbată cu succes!</p>

    <button mat-raised-button [disabled]="checkPasswords()" (click)="changePassword()">Salvează</button>
  </div>
</div>
