.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Optional: This sets the container to take up the full viewport height */
  }
  
  
  .container p, h1 {
    margin: 10px; /* Optional: Add some space between the elements */
  }

  
  .container p{
    font-size: 60px;
    color: #7643CA;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .container h1 {
    font-size: 100px;
    color: #7643CA;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .mobile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Optional: This sets the container to take up the full viewport height */
  }
  

  .mobile-container h1 {
    margin: 5px; /* Optional: Add some space between the elements */
  }



  .mobile-container p {
    font-size: 5vw;
    margin: 10px 0;
    color: #7643CA;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .mobile-container h1 {
    font-size: 10vw;
    color: #7643CA;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  

