<div *ngIf="!(isMobile | async)" class="card-container">
    <div class="card">
      <div>
        <img src="https://eventador.ro/uploads/2018/07/HaiForLimousine-50.jpg" alt="Blog 1">
        <div class="card-content">
          <h2>Cele mai frumoase limuzine</h2>
          <p>Toate masinile sunt la dispozitia ta pentru un transport frumos in ziua nuntii.</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>

        </div>
      </div>
    </div>
    <div class="card">
        <div>
          <img src="https://eventador.ro/uploads/2021/04/1a6a6f03614c25e1789fbada2c02b869.jpg" alt="Blog 1">
          <div class="card-content">
            <h2>Dansul mirilor</h2>
            <p>Pentru un dans de exceptie cititi mai multe aici!</p>
          <p>Aici o sa fie mai mult scris in curand frate!</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
            
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <img src="https://eventador.ro/uploads/2019/05/0b8be5c58e45e0a5ebe76150a98a7a4d.png" alt="Blog 1">
          <div class="card-content">
            <h2>Pregatirea unu eveniment</h2>
            <p>Pregatirea unui eveniment necesita timp dar si detinerea tuturor informatiilor necesare.</p>
          <p>Aici o sa fie mai mult scris in curand frate!</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>

          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <img src="https://eventador.ro/uploads/2019/06/b1027b7f85bab13da683a1a810538576.jpeg" alt="Blog 1">
          <div class="card-content">
            <h2>Pasii catre un eveniment ideal</h2>
            <p>Pentru explicarea tuturor pasilor la cel mai mic detaliu puteti citi blogul nostru aici!</p>
          <p>Aici o sa fie mai mult scris in curand frate!</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          <p>Aici o sa fie mai mult scris in curand frate! asfyu asfyviasyf asfuiaysvf asyfvasi</p>
          </div>
        </div>
      </div>
    <!-- Repeat the above structure for the other three cards -->
  </div>

  <div *ngIf="(isMobile | async)" class="mobile-card">
    <div class="mobile-card-image">
      <!-- Your image goes here -->
      <img src="https://eventador.ro/uploads/2018/07/HaiForLimousine-50.jpg" alt="Image Description">
    </div>
    <div class="mobile-card-content">
      <h2>Cele mai frumoase limuzine</h2>
      <p>Toate masinile sunt la dispozitia ta pentru un transport frumos in ziua nuntii.</p>
    </div>

    <div class="mobile-card-image">
      <!-- Your image goes here -->
      <img src="https://eventador.ro/uploads/2021/04/1a6a6f03614c25e1789fbada2c02b869.jpg" alt="Image Description">
    </div>
    <div class="mobile-card-content">
      <h2>Dansul mirilor</h2>
            <p>Pentru un dans de exceptie cititi mai multe aici!</p>
    </div>

    <div class="mobile-card-image">
      <!-- Your image goes here -->
      <img src="https://eventador.ro/uploads/2019/05/0b8be5c58e45e0a5ebe76150a98a7a4d.png" alt="Image Description">
    </div>
    <div class="mobile-card-content">
      <h2>Pregatirea unu eveniment</h2>
            <p>Pregatirea unui eveniment necesita timp dar si detinerea tuturor informatiilor necesare.</p>
    </div>

    <div class="mobile-card-image">
      <!-- Your image goes here -->
      <img src="https://eventador.ro/uploads/2019/06/b1027b7f85bab13da683a1a810538576.jpeg" alt="Image Description">
    </div>
    <div class="mobile-card-content">
      <p>Pasii catre un eveniment ideal</p>
      <p>Pentru explicarea tuturor pasilor la cel mai mic detaliu puteti citi blogul nostru aici!</p>
    </div>
  </div>



 