.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-card {
  width: 25%; /* 4 cards in a row */
  margin: 0; /* Remove margin */
  cursor: pointer;
  position: relative; /* Added relative positioning for absolute positioning of title */
  transition: transform 0.3s ease; /* Added transition */
}

@media (max-width: 1000px) {
  .blog-card {
    width: 50%; /* 2 cards in a row on smaller screens */
  }
}

.blog-image {
  width: 100%;
  height: 300px; /* Adjust as needed */
  background-size: cover;
  background-position: center;
}

.blog-details {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
  color: white;
  padding: 10px;
  opacity: 0.8; /* Adjust as needed */
  width: calc(100% - 20px); /* Adjust as needed */
}

.blog-details h3 {
  margin: 0;
  font-size: x-large;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-weight: 300;
  color:white;
}

.blog-content {
  display: none; /* Content never shown */
}

.blog-card:hover {
  transform: scale(1.10); /* Scale up the card on hover */
}