<div *ngIf="!(isMobile | async)" class="category-container">
    <div [routerLink]="['/furnizori', category.id, 'Categorie']" class="category-card" *ngFor="let category of categories">
      <div class="category-image" [style.background-image]="'url(' + category.image + ')'">
        <div class="category-details">
          <h3>{{ category.name }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isMobile | async" class="category-carousel-mobile-wrapper">
    <div class="category-carousel-mobile">
      <div
        class="category-card-mobile"
        *ngFor="let group of categories"
        [routerLink]="['/furnizori', group.id, 'Categorie']"
      >
        <h3 class="category-title-mobile">{{ group.name }}</h3>
        <div class="category-image-mobile" [style.background-image]="'url(' + group.image + ')'"></div>
      </div>
    </div>
  </div>