.delete-dialog {
    text-align: center;
    padding: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adds space between the buttons */
    margin-top: 20px;
  }
  
  button {
    min-width: 75px; /* Ensures buttons are of a reasonable size */
    background-color: white;
    padding: 5px;
    border: 2px solid blue;
    border-radius: 20px;
  }

  .top-most-dialog {
    z-index: 2000 !important; /* Set a high z-index */
  }
  
  .top-most-backdrop {
    z-index: 1999 !important; /* Backdrop should be just below the dialog */
  }