<!-- login.component.html -->
<div class="background"></div>
<div class="login-container" *ngIf="!(isMobile | async)">
    <div class="login-box">
      <div class="logo-container">
        <!-- Your logo image goes here -->
        <img class="logo-image" src="assets\imagesandvideos\pinklogo.png" />
      </div>
  
      <div class="header">
        <h2>Pentru recuperarea parolei introduceți email-ul folosit</h2>
      </div>
  
      <!-- Username and Password inputs -->
      <div class="form-group">
        <input type="text" [(ngModel)]="username" class="form-control" placeholder="Username">
      </div>
  
      <!-- Login button -->
      <button class="btn btn-primary" (click)="login()">Recuperare parola</button>  
    </div>
  </div>

  <div class="login-container" *ngIf="(isMobile | async)">
    <div class="mobile-login-box">
      <div class="logo-container">
        <!-- Your logo image goes here -->
        <img class="logo-image" src="assets\imagesandvideos\pinklogo.png"/>
      </div>
  
      <div class="header">
        <h2>Pentru recuperarea parolei introduceți email-ul folosit</h2>
      </div>
  
      <!-- Username and Password inputs -->
      <div class="form-group">
        <input type="text" [(ngModel)]="username" class="form-control" placeholder="Username">
      </div>

  
      <!-- Login button -->
      <button class="btn btn-primary" (click)="login()">Recuperare parola</button>
    </div>
  </div>

