<div *ngIf="!(isMobile | async)" class="container">

  <img style="width:600px;" src="https://evemtadorstorage.blob.core.windows.net/sections/toproviders_arrow.png">

  <div class="card-container">
    <div *ngFor="let supplier of cards" (click)="onCardClick(supplier)" class="card">
      <img [src]="supplier.profileImage" class="card-image">
      
      <p class="card-category">{{ supplier.name}}</p>

      <div class="rating-container">
        <div class="stars">
          <ng-container *ngFor="let star of getStarsArray(supplier.averageRating)">
            <!-- Full Star -->
            <i class="fa fa-star star-full" *ngIf="star.full"></i>
      
            <!-- Half Star -->
            <i class="fa fa-star star-half" *ngIf="star.half"></i>
      
            <!-- Empty Star -->
            <i class="fa fa-star star-empty" *ngIf="star.empty"></i>
          </ng-container>
        </div>
        <span class="rating-text">{{ supplier.averageRating.toFixed(1) }} ({{ supplier.numberOfReviews }})</span>
      </div>
      <p *ngFor="let category of supplier.categories" class="card-category" style="display: inline;">
        {{category.name}}
      </p>
    </div>
  </div>

  <button [routerLink]="['/furnizori']" mat-raised-button color="accent">Vezi toți furnizorii</button>
</div>

<div *ngIf="(isMobile | async)" class="container">
  <img style="width:350px;" src="https://evemtadorstorage.blob.core.windows.net/sections/toproviders_arrow.png">

  <div class="card-container">
    <div *ngFor="let supplier of cards" (click)="onCardClick(supplier)" class="card">
      <img [src]="supplier.profileImage" class="card-image">
      
      <p class="card-category">{{ supplier.name}}</p>

      <div class="rating-container">
        <div class="stars">
          <ng-container *ngFor="let star of getStarsArray(supplier.averageRating)">
            <!-- Full Star -->
            <i class="fa fa-star star-full" *ngIf="star.full"></i>
      
            <!-- Half Star -->
            <i class="fa fa-star star-half" *ngIf="star.half"></i>
      
            <!-- Empty Star -->
            <i class="fa fa-star star-empty" *ngIf="star.empty"></i>
          </ng-container>
        </div>
        <span class="rating-text">{{ supplier.averageRating.toFixed(1) }} ({{ supplier.numberOfReviews }})</span>
      </div>
      
      <p *ngFor="let category of supplier.categories" class="card-category" style="display: inline;">
        {{category.name}}
      </p>
    </div>
  </div>

  <button [routerLink]="['/furnizori']" mat-raised-button color="accent">Vezi toți furnizorii</button>
</div>