<div *ngIf="!(isMobile | async)" class="backdrop"></div>

<div *ngIf="!(isMobile | async)" class="profile-container">
  <div class="profile-header">
    <!-- Profile Picture -->
    <h2 class="username">Informatiile legate de serviciile oferite</h2>
  </div>

  <!-- Business Information (Shown only for business accounts) -->
  <div class="business-info">
    

    <div class="business-toggle">
      <label>Persoana Juridica:</label>
      <mat-slide-toggle
          [checked]="isLegalPerson"
          [(ngModel)]="isLegalPerson"
          (change)="toggleLegalPerson()">
      </mat-slide-toggle>
    </div>

    <div *ngIf="isLegalPerson" class="business-info">
      <div class="form-group">
        <label>Reg. Com.*</label>
        <mat-form-field class="custom-input">
        <input matInput [(ngModel)]="businessRegCom" name="businessRegCom" [disabled]="alreadyExistingRegCom" required>
      </mat-form-field>
      </div>
      <div class="form-group">
        <label>CUI*</label>
        <mat-form-field class="custom-input">
        <input matInput [(ngModel)]="businessCUI" name="businessCUI" [disabled]="alreadyExistingCUI" required>
      </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <label>Numele firmei*</label>
      <mat-form-field class="custom-input">
      <input matInput [(ngModel)]="businessName" name="businessName" required>
    </mat-form-field>
    </div>

    <div class="form-group">
      <label>Email business*</label>
      <mat-form-field class="custom-input">
      <input matInput [(ngModel)]="businessEmail" name="businessEmail" required>
    </mat-form-field>
    </div>

      <div class="form-group">
        <label>Judet*</label>
        <mat-form-field class="custom-dropdown">
          <mat-select [(ngModel)]="countyId" (selectionChange)="onCountyChange()" required disabled>
            <mat-option *ngFor="let county of counties" [value]="county.id" >{{ county.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div class="form-group" *ngIf="countyId">
        <label>Oras*</label>
        <mat-form-field class="custom-dropdown">
          <mat-select [(ngModel)]="cityId" required disabled>
            <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</mat-option>
          </mat-select>
        </mat-form-field>       
      </div>
      
      <div class="form-group">
        <label>Zona de acoperire*</label>
        <mat-form-field class="custom-dropdown">
          <mat-select [(ngModel)]="selectedAreas" multiple required>
            <mat-option *ngFor="let area of areas" [value]="area.id">{{ area.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label>Categorii*</label>
        <mat-form-field class="custom-dropdown">
          <mat-select [(ngModel)]="selectedCategories" multiple required>
            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    <div class="form-group">
      <label>Motto</label>
      <mat-form-field class="custom-input">
      <input matInput [(ngModel)]="motto" name="motto">
    </mat-form-field>
    </div>
    <div class="form-group">
      <label>Website URL</label>
      <mat-form-field class="custom-input">
      <input matInput [(ngModel)]="websiteUrl" name="websiteUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <label>Facebook URL</label>
      <mat-form-field class="custom-input">
      <input matInput [(ngModel)]="facebookUrl" name="facebookUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <label>Instagram URL</label>
      <mat-form-field class="custom-input">
      <input matInput [(ngModel)]="instagramUrl" name="instagramUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <label>Youtube URL</label>
      <mat-form-field class="custom-input">
      <input matInput [(ngModel)]="youtubeUrl" name="youtubeUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <label for="imageSelectorProfile">Schimba imaginea de profil</label>
      <input type="file" id="imageSelector" (change)="onProfileImageSelected($event)" accept="image/*">
    </div>

    <div class="form-group">
      <label for="imageSelectorProfile">Imaginea de profil</label>
      <img *ngIf="!convertedSelectedProfileImageToShow" class="existingProfileImage" src="{{existingProfileImage}}">
      <img *ngIf="convertedSelectedProfileImageToShow" class="existingProfileImage" src="{{convertedSelectedProfileImageToShow}}">
    </div>

    <div class="form-group">
        <label for="imageSelector">Schimba imaginile galeriei (maxim {{ maximumNumberAllowed }} imagini)</label>
        <input type="file" id="imageSelector" (change)="onImagesSelected($event)" accept="image/*" multiple>
        <p *ngIf="tooManyImages" style="color:red">{{ tooManyImagesMessage }}</p>
      </div>

      <div class="form-group">
        <div  *ngFor="let existingImage of existingImages" class="image-container">
          <div class="checkbox-container">
            
            <button mat-icon-button color="warn" (click)="onDeleteImage(existingImage)">
              <mat-icon>delete</mat-icon>
            </button>
            
          </div>
          <img class="existingProfileImages" src="{{existingImage.imageUrl}}">
        </div>

        
        <div  *ngFor="let addedImage of convertedSelectedImagesToShow" class="image-container">
          <div class="checkbox-container">
            
            <button mat-icon-button color="warn" (click)="onDeleteAddedImage(addedImage)">
              <mat-icon>delete</mat-icon>
            </button>
            
          </div>
          <img class="existingProfileImages" src="{{addedImage}}">
        </div>



      </div>


      
    <div class="form-group">
        <label for="description">Descriere*</label>
        <textarea id="description" [(ngModel)]="description" name="description" required maxlength="2000"></textarea>
        <p>{{ description.length || 0 }}/2000 caractere</p>
      </div>
  </div>

  <div class="save-button-container">
    <button class="save-button" mat-raised-button color="accent" [ngStyle]="{'cursor': saveButtonEnabled() ? 'pointer' : 'not-allowed'}" [disabled]="!saveButtonEnabled() || saving" (click)="onSaveButtonClick()">Salveaza profil</button>
  </div>
</div>

<div *ngIf="(isMobile | async)">

  <!-- Business Information (Shown only for business accounts) -->
  <div class="business-info">
    <h3>Informatiile legate de serviciile oferite</h3>

    <div class="business-toggle">
      <label>Persoana Juridica:</label>
      <mat-slide-toggle
          [checked]="isLegalPerson"
          [(ngModel)]="isLegalPerson"
          (change)="toggleLegalPerson()">
      </mat-slide-toggle>
    </div>

    <div *ngIf="isLegalPerson" class="business-info">
      <div class="form-group">
        <label>Reg. Com.*</label>
        <mat-form-field class="custom-input-mobile">
        <input matInput [(ngModel)]="businessRegCom" name="businessRegCom" [disabled]="alreadyExistingRegCom" required>
      </mat-form-field>
      </div>
      <div class="form-group">
        <label>CUI*</label>
        <mat-form-field class="custom-input-mobile">
        <input matInput [(ngModel)]="businessCUI" name="businessCUI" [disabled]="alreadyExistingCUI" required>
      </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <label>Numele firmei</label>
      <mat-form-field class="custom-input-mobile">
      <input matInput [(ngModel)]="businessName" name="businessName">
    </mat-form-field>
    </div>

    <div class="form-group">
      <label>Email business*</label>
      <mat-form-field class="custom-input-mobile">
      <input matInput [(ngModel)]="businessEmail" name="businessEmail">
    </mat-form-field>
    </div>

      <div class="form-group">
        <label>Judet</label>
        <mat-form-field class="custom-dropdown-mobile">
          <mat-select [(ngModel)]="countyId">
            <mat-option *ngFor="let county of counties" [value]="county.id" (change)="onCountyChange()">{{ county.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div class="form-group" *ngIf="cityId">
        <label>Oras</label>
        <mat-form-field class="custom-dropdown-mobile">
          <mat-select [(ngModel)]="cityId">
            <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</mat-option>
          </mat-select>
        </mat-form-field>       
      </div>
      
      <div class="form-group">
        <label>Zona de acoperire</label>
        <mat-form-field class="custom-dropdown-mobile">
          <mat-select [(ngModel)]="selectedAreas" multiple>
            <mat-option *ngFor="let area of areas" [value]="area.id">{{ area.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label>Categorii</label>
        <mat-form-field class="custom-dropdown-mobile">
          <mat-select [(ngModel)]="selectedCategories" multiple>
            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    <div class="form-group">
      <label>Motto</label>
      <mat-form-field class="custom-input-mobile">
      <input matInput [(ngModel)]="motto" name="motto">
    </mat-form-field>
    </div>
    <div class="form-group">
      <label>Website URL</label>
      <mat-form-field class="custom-input-mobile">
      <input matInput [(ngModel)]="websiteUrl" name="websiteUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <label>Facebook URL</label>
      <mat-form-field class="custom-input-mobile">
      <input matInput [(ngModel)]="facebookUrl" name="facebookUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <label>Instagram URL</label>
      <mat-form-field class="custom-input-mobile">
      <input matInput [(ngModel)]="instagramUrl" name="instagramUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <label>Youtube URL</label>
      <mat-form-field class="custom-input-mobile">
      <input matInput [(ngModel)]="youtubeUrl" name="youtubeUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <label for="imageSelectorProfile">Schimba imaginea de profil</label>
      <input type="file" id="imageSelector" (change)="onProfileImageSelected($event)" accept="image/*">
    </div>

    <div class="form-group">
      <label for="imageSelectorProfile">Imaginea de profil existenta</label>
      <img *ngIf="!convertedSelectedProfileImageToShow" class="existingProfileImage" src="{{existingProfileImage}}">
      <img *ngIf="convertedSelectedProfileImageToShow" class="existingProfileImage" src="{{convertedSelectedProfileImageToShow}}">
    </div>

    <div class="form-group">
        <label for="imageSelector">Schimba imaginile galeriei (maxim {{ maximumNumberAllowed }} imagini)</label>
        <input type="file" id="imageSelector" (change)="onImagesSelected($event)" accept="image/*" multiple>
        <p *ngIf="tooManyImages" style="color:red">{{ tooManyImagesMessage }}</p>
      </div>

      <div class="form-group">
        <div *ngFor="let existingImage of existingImages" class="image-container">
          <div class="checkbox-container">
            
            <button mat-icon-button color="warn" (click)="onDeleteImage(existingImage)">
              <mat-icon>delete</mat-icon>
            </button>
            
          </div>
          <img class="existingProfileImages" [class.grayScaleImage]="!existingImage.isMaintained" src="{{existingImage.imageUrl}}" alt="Photo of a Shiba Inu">
        </div>

        <div *ngFor="let addedImage of convertedSelectedImagesToShow" class="image-container">
          <div class="checkbox-container">
            
            <button mat-icon-button color="warn" (click)="onDeleteAddedImage(addedImage)">
              <mat-icon>delete</mat-icon>
            </button>
            
          </div>
          <img class="existingProfileImages" src="{{addedImage}}">
        </div>

      </div>
    <div class="form-group">
        <label for="description">Descriere</label>
        <textarea style="width: 90%;" id="description" [(ngModel)]="description" name="description" maxlength="2000"></textarea>
        <p>{{ description.length || 0 }}/2000 caractere</p>
      </div>
  </div>

  <div class="save-button-container">
    <button class="save-button" mat-raised-button color="accent" [disabled]="!saveButtonEnabled() || saving" (click)="onSaveButtonClick()">Salveaza profil</button>
  </div>
</div>













