<div *ngIf="!(isMobile | async)" class="backdrop"></div>

<div *ngIf="!(isMobile | async)" class="profile-container">
  <div class="profile-header">
    <!-- Profile Picture -->
    <h2 class="username">Informatiile legate de serviciile oferite</h2>
  </div>

  <!-- Business Information (Shown only for business accounts) -->
  <div class="business-info">
    

    <div class="business-toggle">
      <label>Persoana Juridica:</label>
      <mat-slide-toggle
          [checked]="isLegalPerson"
          [(ngModel)]="isLegalPerson"
          (change)="toggleLegalPerson()">
      </mat-slide-toggle>
    </div>

    <div *ngIf="isLegalPerson" class="business-info">
      <div class="form-group">
        <mat-form-field class="custom-input">
        <input matInput placeholder="CUI*" [(ngModel)]="businessCUI" name="businessCUI" required [disabled]="alreadyExistingCUI">
      </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field class="custom-input">
      <input matInput placeholder="Numele firmei*" [(ngModel)]="businessName" name="businessName" required>
    </mat-form-field>
    </div>

      <div class="form-group">
        <mat-form-field class="custom-dropdown">
          <mat-label>Judet</mat-label>
          <mat-select [(ngModel)]="countyId" (selectionChange)="onCountyChange()" required disabled>
            <mat-option *ngFor="let county of counties" [value]="county.id" >{{ county.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div class="form-group" *ngIf="countyId">
        <mat-form-field class="custom-dropdown">
          <mat-label>Oras</mat-label>
          <mat-select [(ngModel)]="cityId" required disabled>
            <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</mat-option>
          </mat-select>
        </mat-form-field>       
      </div>
      
      <div class="form-group">
        <mat-form-field class="custom-dropdown">
          <mat-label>Zona de acoperire</mat-label>
          <mat-select [(ngModel)]="selectedAreas" multiple required>
            <mat-option *ngFor="let area of areas" [value]="area.id">{{ area.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="custom-dropdown">
          <mat-label>Selectare categorie</mat-label>
          <mat-select [(ngModel)]="selectedCategory" required disabled>
            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    <div class="form-group">
      <mat-form-field class="custom-input">
      <input matInput placeholder="Motto" [(ngModel)]="motto" name="motto">
    </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="custom-input">
      <input matInput placeholder="Website URL" [(ngModel)]="websiteUrl" name="websiteUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="custom-input">
      <input matInput placeholder="Facebook URL" [(ngModel)]="facebookUrl" name="facebookUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="custom-input">
      <input matInput placeholder="Instagram URL" [(ngModel)]="instagramUrl" name="instagramUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="custom-input">
      <input matInput placeholder="Youtube URL" [(ngModel)]="youtubeUrl" name="youtubeUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <label for="imageSelectorProfile">Schimba imaginea de profil</label>
      <input type="file" id="imageSelector" (change)="onProfileImageSelected($event)" accept="image/*">
    </div>

    <div class="form-group">
      <label for="imageSelectorProfile">Imaginea de profil existenta</label>
      <img class="existingProfileImage" src="{{existingProfileImage}}" alt="Photo of a Shiba Inu">
    </div>

    <div class="form-group">
        <label for="imageSelector">Schimba imaginile profilului (maxim {{ maximumNumberAllowed }} imagini)</label>
        <input type="file" id="imageSelector" (change)="onImagesSelected($event)" accept="image/*" multiple>
        <p *ngIf="tooManyImages" style="color:red">{{ tooManyImagesMessage }}</p>
      </div>

      <div class="form-group">
        <label>Imaginile existente (cele bifate vor fi mentinute)</label>
        <div  *ngFor="let existingImage of existingImages" class="image-container">
          <div class="checkbox-container">
            <input type="checkbox" [(ngModel)]="existingImage.isMaintained" (change)="onCheckboxChange(existingImage)">
            
          </div>
          <img class="existingProfileImages" src="{{existingImage.imageUrl}}" alt="Photo of a Shiba Inu">
        </div>
      </div>


      
    <div class="form-group">
        <label for="description">Descriere*</label>
        <textarea id="description" [(ngModel)]="description" name="description" required></textarea>
      </div>
  </div>

  <div class="save-button-container">
    <button class="save-button" mat-raised-button color="accent" [ngStyle]="{'cursor': saveButtonEnabled() ? 'pointer' : 'not-allowed'}" [disabled]="!saveButtonEnabled()" (click)="onSaveButtonClick()">Salveaza profil</button>
  </div>
</div>

<div *ngIf="(isMobile | async)">
  <div class="profile-header">
    <!-- Profile Picture -->
    <h2 class="username">Bine ai Venit pe platforma eventador.ro!</h2>
  </div>

  <div class="form-group">
    <mat-form-field class="custom-input-mobile">
    <input matInput placeholder="Email*" type="email" id="email" [(ngModel)]="email" name="email" required>
  </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="custom-input-mobile">
    <input matInput placeholder="Parola*" type="password" id="password" [(ngModel)]="password" name="password" required>
  </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="custom-input-mobile">
    <input matInput placeholder="Verificare Parola*" type="password" id="password" [(ngModel)]="passwordVerified" name="passwordVerified" required>
  </mat-form-field>
  </div>
  <div *ngIf="checkPasswordIncorrect()" class="form-group error-message">
    <p>Cele doua parole nu sunt identice!</p>
  </div>

  <h3>Informatiile legate de cont</h3>
  
  <div class="form-group">
    <mat-form-field class="custom-input-mobile">
    <input matInput placeholder="Nume de familie" [(ngModel)]="lastName" name="lastName" required>
  </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="custom-input-mobile">
    <input matInput placeholder="Prenume" [(ngModel)]="firstName" name="firstName" required>
  </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="custom-input-mobile">
      <input matInput [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="Numar de telefon" required>
    </mat-form-field>
  </div>

  <!-- Business Toggle -->
  <div class="business-toggle">
    <label>Cont Furnizor Servicii:</label>
    <mat-slide-toggle
          [checked]="isBusinessAccount"
          [(ngModel)]="isBusinessAccount"
          (change)="toggleBusinessInfo()">
      </mat-slide-toggle>
  </div>

  <!-- Business Information (Shown only for business accounts) -->
  <div *ngIf="isBusinessAccount" class="business-info">
    <h3>Informatiile legate de serviciile oferite</h3>

    <div class="business-toggle">
      <label>Persoana Juridica:</label>
      <mat-slide-toggle
          [checked]="isLegalPerson"
          [(ngModel)]="isLegalPerson"
          (change)="toggleLegalPerson()">
      </mat-slide-toggle>
    </div>

    <div *ngIf="isLegalPerson" class="business-info">
      <div class="form-group">
        <mat-form-field class="custom-input-mobile">
        <input matInput placeholder="CUI" [(ngModel)]="businessCUI" name="businessCUI">
      </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field class="custom-input-mobile">
      <input matInput placeholder="Numele firmei" [(ngModel)]="businessName" name="businessName">
    </mat-form-field>
    </div>

      <div class="form-group">
        <mat-form-field class="custom-dropdown-mobile">
          <mat-label>Judet</mat-label>
          <mat-select [(ngModel)]="countyId">
            <mat-option *ngFor="let county of counties" [value]="county.id" (change)="onCountyChange()">{{ county.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div class="form-group" *ngIf="cityId">
        <mat-form-field class="custom-dropdown-mobile">
          <mat-label>Oras</mat-label>
          <mat-select [(ngModel)]="cityId">
            <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</mat-option>
          </mat-select>
        </mat-form-field>       
      </div>
      
      <div class="form-group">
        <mat-form-field class="custom-dropdown-mobile">
          <mat-label>Zona de acoperire</mat-label>
          <mat-select [(ngModel)]="selectedAreas" multiple>
            <mat-option *ngFor="let area of areas" [value]="area.id">{{ area.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="custom-dropdown-mobile">
          <mat-label>Selectare categorie</mat-label>
          <mat-select [(ngModel)]="selectedCategory" >
            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    <div class="form-group">
      <mat-form-field class="custom-input-mobile">
      <input matInput placeholder="Motto" [(ngModel)]="motto" name="motto">
    </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="custom-input-mobile">
      <input matInput placeholder="Website URL" [(ngModel)]="websiteUrl" name="websiteUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="custom-input-mobile">
      <input matInput placeholder="Facebook URL" [(ngModel)]="facebookUrl" name="facebookUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="custom-input-mobile">
      <input matInput placeholder="Instagram URL" [(ngModel)]="instagramUrl" name="instagramUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="custom-input-mobile">
      <input matInput placeholder="Youtube URL" [(ngModel)]="youtubeUrl" name="youtubeUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
        <label for="imageSelector">Imaginile profilului, prima selectata va fi poza de profil iar a doua de coperta (maxim 6)</label>
        <input type="file" id="imageSelector" (change)="onImagesSelected($event)" accept="image/*" multiple>
        <p>{{ tooManyImagesMessage }}</p>
      </div>
    <div class="form-group">
        <label for="description">Descriere</label>
        <textarea style="width: 90%;" id="description" [(ngModel)]="description" name="description"></textarea>
      </div>
  </div>

  <div class="save-button-container">
    <button class="save-button" mat-raised-button color="accent" [disabled]="!saveButtonEnabled()" (click)="onSaveButtonClick()">Salveaza profil</button>
  </div>
</div>













