
<div *ngIf="!(isMobile | async)" class="my-container">
<div class="container">
   
   
   
    <div class="left">
    
        <img class="card-image" src="{{profileImage}}" alt="Photo of a Shiba Inu">
    
        <h3>{{ profileName }}</h3>
    
        
    
        <h3 style="margin:0px 5px 0px 5px; text-align: center;">{{motto}}</h3>
    
        <h4 style="align-self: left;">{{ location }}</h4>

        <div style="display:flex; justify-content: center; flex-wrap: wrap;">
            <div *ngFor="let category of categories" >
                <button style="border: 0px;color: white; background-color: #7643CA; border-radius: 4px; margin: 0 5px;"><p>{{category.name}}</p></button>
            </div>
        </div>
        
        <p style="margin-bottom: 0px;">Numar telefon: 0752173948</p>
        <p style="margin-bottom: 0px;">E-mail: dorel@yahoo.com</p>

        <!--icons section-->
        
   
    </div>
  
  
   <div class="right">
    <ng-image-slider
    #nav
    [images]="imageObject"
    [infinite]="true"
    [autoSlide]="false"
    [imageSize]="{ width: '33%', height: 300 }"
    slideImage="1"
  ></ng-image-slider>
    
        <h3 style="margin-left: 10px; text-align: left;">Descriere</h3>
        <p style="text-align: center; margin: 0px 10px">{{ description }}</p>
        <div style="display:flex; justify-content: center; flex-wrap: wrap;">
            <a href="{{ youtubeUrl }}" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/eventador.ro" class="fa fa-instagram"></a>
            <a href="https://www.instagram.com/eventador.ro" class="fa fa-globe"></a>
            <a href="https://www.instagram.com/eventador.ro" class="fa fa-youtube-play"></a>
          </div>
    </div>
    
  
  

</div>
</div>

<div *ngIf="(isMobile | async)" class="mobile-container">
    <div class="mobile-profile">
    <img class="card-image" src="{{profileImage}}" alt="Photo of a Shiba Inu">
    <h3>{{ profileName }}</h3>

    <div style="display:flex; justify-content: center; flex-wrap: wrap;">
        <div *ngFor="let category of categories" >
            <button style="border: 0px;color: white; background-color: #7643CA; border-radius: 4px; margin: 0 5px;"><p>{{category.name}}</p></button>
        </div>
    </div>


    <p>{{location}}</p>
    
    
    <p>{{motto}}</p>
    
    

    

    <ng-image-slider
    #nav
    [images]="imageObject"
    [infinite]="true"
    [autoSlide]="false"
    [imageSize]="{ width: '50%', height: 200 }"
    slideImage="1"
  ></ng-image-slider>

  <h3 style="text-align: left; margin-left: 5px;">Descriere</h3>
  <p style="margin-right: 5px; margin-left: 5px; text-align: left;">{{description}}</p>

  <p style="margin-bottom: 0px; margin-top:2px;">Numar telefon: 0752173948</p>
  <p style="margin-bottom: 2px; margin-top:3px;">E-mail: dorel@yahoo.com</p>

  <div style="display:flex; justify-content: center; flex-wrap: wrap;">
    <a href="{{ youtubeUrl }}" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/eventador.ro" class="fa fa-instagram"></a>
    <a href="https://www.instagram.com/eventador.ro" class="fa fa-globe"></a>
    <a href="https://www.instagram.com/eventador.ro" class="fa fa-youtube-play"></a>
  </div>

  
    </div>
  </div>

