 :host{
  display: block;
  background-color: #f7f8f9;
}

.container {
    display: flex;
    width: 70%;
    margin: 0 auto; /* centers the container */
    overflow: hidden;
  }
  
  .left {
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:white;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .right {
    width: 70%;
    background-color: white;
    margin-left: 5px;
    margin-top:20px;
    margin-bottom:50px;
  }

  .card-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 5px;
    object-fit: cover;
  }

  .profile-message-button {
    background-color: #326a63;
    font-size: large;
    width: 250px;
    border-radius: 8px;
    height: 50px;
    border: 0;
  }

  .profile-call-button {
    background-color: #007aff;
    font-size: large;
    width: 250px;
    margin-top: 10px;
    border-radius: 8px;
    height: 50px;
    border: 0;
  }
  .mobile-container {
    background-color: white;
  }

  .category-button {
    border: 0px;color: white; 
    background-color: gray;
    border-radius: 4px; 
    margin: 0 5px;
    height: 25px;
  }

  .category-button p {
    margin: 0px;
    font-size: large;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .motto {
    font-weight: 700;
  }

  .mobile-profile{
    margin: 0 auto;
    width:90%;
    background-color: white;
    text-align: center;
  }

  .mobile-image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .mobile-image-item {
    margin: 10px;
  }
  
  .mobile-image-item img {
    max-width: 100%;
    height: auto;
  }

  .fa-facebook {
    background-color: white;
    color: lightgray;
  }

  .fa-instagram {
    color: lightgray ;
  }

  .fa-globe{
    color:lightgray;
  }

  .fa-youtube-play {
    color: lightgray;
  }

  .fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  /*          -               - Review        -                  -                  */
  
  .review-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .rating-title {
    margin: 5px;
  }
  
  .rating-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .star {
    font-size: 36px;
    cursor: pointer;
  }

  .star:hover {
    cursor: pointer;
  }
  
  .star.selected {
    color: gold; /* Set the star color for selected stars */
  }
  
  .review-text {
    width: 90%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-btn {
    background: linear-gradient(to right, #FF63A4, #FE8962);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .submit-btn:disabled {
    background-color: gray;
    cursor: not-allowed;
  }

  .center-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, #FF63A4, #FE8962);
  }

  .area-of-interest-button {
    margin: 5px;
    border: none;
    border-radius: 5%;
  }