
<div *ngIf="!(isMobile | async)" class="my-container">
<div class="container">
    <div class="left">
    
        <img class="card-image" src="{{profileImage}}" alt="Photo of a Shiba Inu">
    
        <h3>{{ profileName }}</h3>
    
        
    
        <h3 style="margin:0px 5px 0px 5px; text-align: center;">{{motto}}</h3>
    
        <h4 style="align-self: left; margin-top: 2px !important; margin-bottom: 2px !important;"><i class="fa fa-map-marker" style="font-size:30px; width:20px !important; padding:2px;"></i> {{ location }}</h4>

        <div style="display:flex; justify-content: center; flex-wrap: wrap;">
           
                <button class="category-button"><p>{{categoryName}}</p></button>
       
        </div>
        <h4 style="margin-bottom: 5px;">Zone de Activitate</h4>
        <div>
          
          <button *ngFor="let area of areasOfInterest" class="area-of-interest-button">{{ area }}</button>
        </div>
        
        <p style="margin-bottom: 0px;">Numar telefon: {{phoneNumber}}</p>
        <p style="margin-bottom: 0px;">E-mail: {{email}}</p>
        <div style="display:flex; justify-content: center; flex-wrap: wrap;">
          <a *ngIf="facebookUrl" href="{{ facebookUrl }}" target="_blank" class="fa fa-facebook"></a>
          <a *ngIf="instagramUrl" href="{{ instagramUrl }}" target="_blank" class="fa fa-instagram"></a>
          <a *ngIf="websiteUrl" href="{{ websiteUrl }}" target="_blank" class="fa fa-globe"></a>
          <a *ngIf="youtubeUrl" href="{{ youtubeUrl}}" target="_blank" class="fa fa-youtube-play"></a>
        </div>

        <!--icons section-->
        
   
    </div>
  
  
   <div class="right">
    <gallery [items]="images" thumbPosition="left"></gallery>
    
        <h3 style="margin-left: 10px; text-align: left;">Descriere</h3>
        <p style="text-align: left; margin: 0px 10px; white-space: pre-wrap;">{{ description }}</p>
        
    </div>
    
  
  

</div>
<button class="center-button" *ngIf="!changesProfileId && !isCurrentProfileLogged && !offerRating && userLoggedIn" (click)="showRatingInput()" mat-raised-button>Ofera rating</button>
<div class="review-container" *ngIf="offerRating && !isCurrentProfileLogged && userLoggedIn">
  <h4 class="rating-title">Acorda o nota</h4>

  <div class="rating-container">
    <span class="star" (click)="setRating(1)" [class.selected]="selectedRating >= 1">★</span>
    <span class="star" (click)="setRating(2)" [class.selected]="selectedRating >= 2">★</span>
    <span class="star" (click)="setRating(3)" [class.selected]="selectedRating >= 3">★</span>
    <span class="star" (click)="setRating(4)" [class.selected]="selectedRating >= 4">★</span>
    <span class="star" (click)="setRating(5)" [class.selected]="selectedRating >= 5">★</span>
  </div>

  <textarea class="review-text" placeholder="Despre experienta ta" [(ngModel)]="reviewText"></textarea>

  <button *ngIf="!reviewSent" class="submit-btn" [disabled]="isReviewIncomplete()" (click)="submitReview()">Submit Review</button>
  <h4 *ngIf="reviewSent">Review-ul tau a fost trimis spre aprobare, multumim!</h4>
</div>
<div *ngIf="!changesProfileId && reviews">
<app-rating [ratings]="reviews" [profileId]="numberProfileId" [currentProfileLoggedIn]="isCurrentProfileLogged"></app-rating>
</div>
</div>
<!--                  Mobile               -->

<div *ngIf="(isMobile | async)" class="mobile-container">
    <div class="mobile-profile">
    <img class="card-image" src="{{profileImage}}" alt="Photo of a Shiba Inu">
    <h3>{{ profileName }}</h3>

    <div style="display:flex; justify-content: center; flex-wrap: wrap;">
      <button class="category-button"><p>{{categoryName}}</p></button>
    </div>


    <p><i class="fa fa-map-marker" style="font-size:30px; width:20px !important; padding:2px;"></i> {{location}}</p>
    
    <h4 style="margin-bottom: 5px;">Zone de Activitate</h4>
        <div>
          
          <button *ngFor="let area of areasOfInterest" class="area-of-interest-button">{{ area }}</button>
        </div>

    <p class="motto">{{motto}}</p>

    <p style="margin-bottom: 0px; margin-top:2px;">Numar telefon: {{phoneNumber}}</p>
  <p style="margin-bottom: 2px; margin-top:3px;">E-mail: {{email}}</p>



  <div style="display:flex; justify-content: center; flex-wrap: wrap;">
    <a *ngIf="facebookUrl" href="{{ facebookUrl }}" target="_blank" class="fa fa-facebook"></a>
    <a *ngIf="instagramUrl" href="{{ instagramUrl }}" target="_blank" class="fa fa-instagram"></a>
    <a *ngIf="websiteUrl" href="{{ websiteUrl }}" target="_blank" class="fa fa-globe"></a>
    <a *ngIf="youtubeUrl" href="{{ youtubeUrl}}" target="_blank" class="fa fa-youtube-play"></a>
  </div>


  <gallery [items]="images" thumbPosition="bottom" [thumbWidth]="60"></gallery>
    


    

    

  <h3 style="text-align: left; margin-left: 5px;">Descriere</h3>
  <p style="margin-right: 5px; margin-left: 5px; text-align: left; white-space: pre-wrap;">{{description}}</p>

  

  
    </div>
    <button class="center-button" *ngIf="!changesProfileId && !isCurrentProfileLogged && !offerRating && userLoggedIn" (click)="showRatingInput()" mat-raised-button>Ofera rating</button>
<div class="review-container" *ngIf="offerRating && !isCurrentProfileLogged && userLoggedIn">
  <h4 class="rating-title">Acorda o nota</h4>

  <div class="rating-container">
    <span class="star" (click)="setRating(1)" [class.selected]="selectedRating >= 1">★</span>
    <span class="star" (click)="setRating(2)" [class.selected]="selectedRating >= 2">★</span>
    <span class="star" (click)="setRating(3)" [class.selected]="selectedRating >= 3">★</span>
    <span class="star" (click)="setRating(4)" [class.selected]="selectedRating >= 4">★</span>
    <span class="star" (click)="setRating(5)" [class.selected]="selectedRating >= 5">★</span>
  </div>

  <textarea class="review-text" placeholder="Despre experienta ta" [(ngModel)]="reviewText"></textarea>

  <button *ngIf="!reviewSent" class="submit-btn" [disabled]="isReviewIncomplete()" (click)="submitReview()">Submit Review</button>
  <h4 *ngIf="reviewSent">Review-ul tau a fost trimis spre aprobare, multumim!</h4>
</div>
    <div *ngIf="!changesProfileId && reviews">
      <app-rating [ratings]="reviews" [profileId]="numberProfileId" [currentProfileLoggedIn]="isCurrentProfileLogged"></app-rating>
      </div>
  </div>

