<div  *ngIf="!(isMobile | async)" class="about-us-container">
    <div class="main-section">
      <div class="left-section">
        <!-- Place your image here -->
        <img src="{{section?.image}}" type="jpeg" alt="About Us Image">
      </div>
      <div class="right-section">
        <h2>{{section?.title}}</h2>
        <p>
           {{section?.content}}
        </p>
        <button [routerLink]="['/despre-noi']" mat-raised-button color="accent">Despre Noi</button>
      </div>
    </div>
  </div>


  <div style="margin: 50px 5px;" *ngIf="(isMobile | async)">
    <div style="text-align: center;">
      <div>
        <!-- Place your image here -->
        <img style="width:60%" src="{{section?.image}}" type="jpeg" alt="About Us Image">
      </div>
      <div>
        <h2>{{section?.title}}</h2>
        <p>
          {{section?.content}}
        </p>
        <button [routerLink]="['/despre-noi']" style="width:100px" mat-raised-button color="accent">Despre Noi</button>
      </div>
    </div>
  </div>