<div *ngIf="!(isMobile | async)" class="backdrop"></div>

<div *ngIf="!(isMobile | async)" class="profile-container">
  <div class="profile-header">
    <!-- Profile Picture -->
    <h2 class="username">Bine ai venit pe platforma eventador.ro!</h2>
  </div>

  <div class="form-group">
    <mat-form-field class="custom-input">
    <input matInput placeholder="Email*" type="email" id="email" [(ngModel)]="email" name="email" required>
  </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="custom-input">
    <input matInput placeholder="Parola*" type="password" id="password" [(ngModel)]="password" name="password" required>
  </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="custom-input">
    <input matInput placeholder="Verificare Parola*" type="password" id="password" [(ngModel)]="passwordVerified" name="passwordVerified" required>
  </mat-form-field>
  </div>
  <div *ngIf="checkPasswordIncorrect()" class="form-group error-message">
    <p>Cele doua parole nu sunt identice!</p>
  </div>
  

  <h3>Informatiile legate de cont</h3>
  
  <div class="form-group">
    <mat-form-field class="custom-input">
    <input matInput placeholder="Nume*" [(ngModel)]="lastName" name="lastName" required>
  </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="custom-input">
    <input matInput placeholder="Prenume*" [(ngModel)]="firstName" name="firstName" required>
  </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="custom-input">
      <input matInput [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="Numar de telefon" required>
    </mat-form-field>
  </div>

  <!-- Business Toggle -->
  <div class="business-toggle">
    <label>Cont Furnizor Servicii:</label>
    <mat-slide-toggle
          [checked]="isBusinessAccount"
          [(ngModel)]="isBusinessAccount"
          (change)="toggleBusinessInfo()">
      </mat-slide-toggle>
  </div>

  <!-- Business Information (Shown only for business accounts) -->
  <div *ngIf="isBusinessAccount" class="business-info">
    <h3>Informatiile legate de serviciile oferite</h3>

    <div class="business-toggle">
      <label>Persoana Juridica:</label>
      <mat-slide-toggle
          [checked]="isLegalPerson"
          [(ngModel)]="isLegalPerson"
          (change)="toggleLegalPerson()">
      </mat-slide-toggle>
    </div>

    <div *ngIf="isLegalPerson" class="business-info">
      <div class="form-group">
        <mat-form-field class="custom-input">
        <input matInput placeholder="CUI*" [(ngModel)]="businessCUI" name="businessCUI" required>
      </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field class="custom-input">
      <input matInput placeholder="Numele firmei*" [(ngModel)]="businessName" name="businessName" required>
    </mat-form-field>
    </div>

      <div class="form-group">
        <mat-form-field class="custom-dropdown">
          <mat-label>Judet</mat-label>
          <mat-select [(ngModel)]="countyId" (selectionChange)="onCountyChange()" required>
            <mat-option *ngFor="let county of counties" [value]="county.id" >{{ county.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div class="form-group" *ngIf="countyId">
        <mat-form-field class="custom-dropdown">
          <mat-label>Oras</mat-label>
          <mat-select [(ngModel)]="cityId" required>
            <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</mat-option>
          </mat-select>
        </mat-form-field>       
      </div>
      
      <div class="form-group">
        <mat-form-field class="custom-dropdown">
          <mat-label>Zona de acoperire</mat-label>
          <mat-select [(ngModel)]="selectedAreas" multiple required>
            <mat-option *ngFor="let area of areas" [value]="area.id">{{ area.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="custom-dropdown">
          <mat-label>Selectare categorie</mat-label>
          <mat-select [(ngModel)]="selectedCategory" required>
            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    <div class="form-group">
      <mat-form-field class="custom-input">
      <input matInput placeholder="Motto" [(ngModel)]="motto" name="motto">
    </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="custom-input">
      <input matInput placeholder="Website URL" [(ngModel)]="websiteUrl" name="websiteUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="custom-input">
      <input matInput placeholder="Facebook URL" [(ngModel)]="facebookUrl" name="facebookUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="custom-input">
      <input matInput placeholder="Instagram URL" [(ngModel)]="instagramUrl" name="instagramUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="custom-input">
      <input matInput placeholder="Youtube URL" [(ngModel)]="youtubeUrl" name="youtubeUrl">
    </mat-form-field>
    </div>
    <div class="form-group">
      <label for="imageSelectorProfile">Imaginea de profil</label>
      <input type="file" id="imageSelector" (change)="onProfileImageSelected($event)" accept="image/*">
    </div>
    <div class="form-group">
        <label for="imageSelector">Imaginile profilului (maxim 5)</label>
        <input type="file" id="imageSelector" (change)="onImagesSelected($event)" accept="image/*" multiple>
        <p *ngIf="tooManyImages" style="color:red">{{ tooManyImagesMessage }}</p>
      </div>
    <div class="form-group">
        <label for="description">Descriere*</label>
        <textarea id="description" [(ngModel)]="description" name="description" required></textarea>
      </div>
  </div>

  <div class="form-group">
    <mat-form-field class="custom-input">
    <input matInput placeholder="Cod Partener" [(ngModel)]="partnerCode" name="CodPartener" [disabled]="referralCodeByUrl" (ngModelChange)="onPartnerCodeChange($event)">
  </mat-form-field>
  <p class="code-error-message" *ngIf="showPartnerErrorCode">Codul de partener nu este valabil !</p>
  <p class="code-success-message" *ngIf="showPartnerSuccessCode">Codul de partener este valabil !</p>

  <div class="save-button-container">
    <button class="save-button" mat-raised-button color="accent" [ngStyle]="{'cursor': saveButtonEnabled() ? 'pointer' : 'not-allowed'}" [disabled]="!saveButtonEnabled()" (click)="onSaveButtonClick()">Salveaza profil</button>
  </div>
</div>

<div *ngIf="(isMobile | async)">
  <h1>merge baaaaaaaaaa</h1>
</div>













