<div *ngIf="!(isMobile | async)" class="affiliate-tab" style="background-color: black;">
    <div class="overlay">
      <h1>{{section?.title}}</h1>
      <p>{{section?.content}}</p>
      <button [routerLink]="['/contact']" mat-raised-button color="accent">Contactează-ne</button>
    </div>
  </div>

  <div *ngIf="(isMobile | async)" style="background-color: black;" class="affiliate-tab-mobile">
    <div class="overlay-mobile">
      <h1>{{section?.title}}</h1>
      <p>{{section?.content}}</p>
      <button [routerLink]="['/contact']" mat-raised-button  color="accent">Contactează-ne</button>
    </div>
  </div>