<div *ngIf="!(isMobile | async)" class="affiliate-tab" [style.backgroundImage]="'url(' + section?.image + ')'">
    <div class="overlay">
      <h1>{{section?.title}}</h1>
      <p>{{section?.content}}</p>
      <button mat-raised-button color="accent">Contacteaza-ne</button>
    </div>
  </div>

  <div *ngIf="(isMobile | async)" [style.backgroundImage]="'url(' + section?.image + ')'" class="affiliate-tab-mobile">
    <div class="overlay-mobile">
      <h1>{{section?.title}}</h1>
      <p>{{section?.content}}</p>
      <button mat-raised-button color="accent">Contacteaza-ne</button>
    </div>
  </div>