.affiliate-tab {
    width: 100%;
    height: 700px;
    background-image: url('https://images6.alphacoders.com/373/373180.jpg'); /* Replace with your image path */
    background-size: cover;
    position: relative;
  }
  
  .overlay {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for darkness */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; /* Text color on top of the dark background */
  text-align: center;
  }
  
  .overlay h5, p {
    margin: 10px 60px;
    font-size: 50px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .overlay h1 {
    margin: 10px 0;
    font-size: 70px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 100;
  }

  .overlay button {
    margin: 15px 0;
  }

  .affiliate-tab-mobile {
    width: 100%;
    height: 400px;
    background-image: url('https://images6.alphacoders.com/373/373180.jpg'); /* Replace with your image path */
    background-size: cover;
    position: relative;
  }
  
  .overlay-mobile {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for darkness */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; /* Text color on top of the dark background */
  text-align: center;
  }
  
  .overlay-mobile h5, p {
    margin: 10px 60px;
    font-size: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .overlay-mobile h1 {
    margin: 10px 0;
    font-size: 30px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 100;
  }

  .overlay-mobile button {
    margin: 15px 0;
  }