<form [formGroup]="blogForm" (ngSubmit)="onSubmit()" class="form-container">
  <div>
    <label>Titlu:</label>
    <input type="text" formControlName="title" />
  </div>

  <div>
    <label>Descriere:</label>
    <input type="text" formControlName="description" />
  </div>
  

  <div>
    <label>Imagine:</label>
    <input type="file" (change)="onImageSelected($event)" accept="image/*" />
    
  </div>

  <div>
    <label>Minute de citire:</label>
    <input type="number" formControlName="minutesToRead" />
  </div>

  <div>
    <label for="pdfFile">Select PDF:</label>
    <input type="file" id="pdfFile" (change)="onFileSelected($event)" accept=".pdf">
  </div>

  <button mat-raised-button color="accent" type="submit">{{ isEditing ? 'Modifica Blog' : 'Creare Blog' }}</button>

 

  <div #pdfContainer class="pdf-container">
    <pdf-viewer [src]="pdfSrc" style="width: 100%; height: 100%;"></pdf-viewer>
</div>

  

  
</form>