<form [formGroup]="blogForm" (ngSubmit)="onSubmit()" class="form-container">
  <div>
    <label>Titlu:</label>
    <input type="text" formControlName="title" />
  </div>

  <div>
    <label>Descriere:</label>
    <input type="text" formControlName="description" />
  </div>

  <div>
    <label>Content:</label>
    <angular-editor [placeholder]="'Enter text here...'" formControlName="content" [config]="editorConfig"></angular-editor>
  </div>
  

  <div>
    <label>Imagine:</label>
    <input type="file" (change)="onImageSelected($event)" accept="image/*" />
    
  </div>

  <div>
    <label>Minute de citire:</label>
    <input type="number" formControlName="minutesToRead" />
  </div>

  <div>
    
    <button mat-raised-button color="accent" type="submit">{{ isEditing ? 'Modifica Blog' : 'Creare Blog' }}</button>
  </div>
</form>