.sidebar {
    width: 300px;
    background-color: transparent;
    color: #7643CA;
    transition: width 0.3s;
    margin-right: -50px;
  }
  
  .collapsed {
    width: 50px;
  }
  
  .sidebar button {
    display: block;
    margin: 0%; 
    z-index: 1;
    width: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #7643CA;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
  }
  
  .sidebar a {
    color:#7643CA;
    text-decoration: none;
  }

  p {
    color: #7643CA;
    margin: 0;
  }

  .menu-container {
    display: inline-block;
    cursor: pointer;
  }
  
  .menu-bar1, .menu-bar2, .menu-bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .menu-change .menu-bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .menu-change .menu-bar2 {opacity: 0;}
  
  .menu-change .menu-bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }


