<div *ngIf="!(isMobile | async)" class="about-customers-container" style="background-color: #FAF2F6;">
    <div class="main-section">
      <div class="left-section">
        <!-- Place your image here -->
        
      </div>
      <div class="right-section">
        <h2>{{section?.title}}</h2>
        <p>
            {{section?.content}}
        </p>
        <button [routerLink]="['/Inscriere']" mat-raised-button color="accent">Înscrie-te și tu</button>
      </div>
    </div>
  </div>

  <div *ngIf="(isMobile | async)" style="background-color: #FAF2F6;">
    <div style="height: 50px;"></div>
    <div style="text-align: center;">
      <div>
        <!-- Place your image here -->
        
      </div>
      <div>
        <h2 style="margin-top: 0px;">{{section?.title}}</h2>
        <p>
          {{section?.content}}
        </p>
        <button [routerLink]="['/Inscriere']" style="width:150px" mat-raised-button color="accent">Înscrie-te și tu</button>
      </div>
      <div style="height: 50px;"></div>
    </div>
  </div>

