.about-customers-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .main-section {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 500px;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .right-section {
    width: 48%; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  .right-section button {
    width: 150px;
  }

  .left-section {
    width: 48%; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text content */
  }
  
  .left-section img {
    max-height: 70%; /* Set the maximum height to 70% of the container's height */
    width: auto; /* Maintain the aspect ratio */
  }

  h2 {
    font-family:  Roboto, "Helvetica Neue", sans-serif;
    font-size: xx-large;
    margin-bottom: 0px;
  }

  p {
    font-family:  Roboto, "Helvetica Neue", sans-serif;
    text-decoration: none;
    font-size: larger;
  }

  button {
    background-color: palevioletred;
    color: black;
    width: 30px;
  }