<div *ngIf="!(isMobile | async)" class="about-customers-container" [style.backgroundImage]="'url(' + section?.image + ')'">
    <div class="main-section">
      <div class="left-section">
        <!-- Place your image here -->
        
      </div>
      <div class="right-section">
        <h2>{{section?.title}}</h2>
        <p>
            {{section?.content}}
        </p>
        <button [routerLink]="['/Inscriere']" mat-raised-button color="accent">Înscrie-te și tu</button>
      </div>
    </div>
  </div>

  <div style="margin: 50px auto; width: 90%" *ngIf="(isMobile | async)">
    <div style="text-align: center;">
      <div>
        <!-- Place your image here -->
        <img style="width:60%" src="{{section?.image}}" type="jpeg" alt="About Us Image">
      </div>
      <div>
        <h2>{{section?.title}}</h2>
        <p>
          {{section?.content}}
        </p>
        <button [routerLink]="['/Inscriere']" style="width:150px" mat-raised-button color="accent">Înscrie-te și tu</button>
      </div>
    </div>
  </div>

