<!-- Desktop Carousel -->
<div *ngIf="!(isMobile | async)">
  <div class="carousel-container">
    <img *ngFor="let img of sliderImages; let i = index"
         [src]="img"
         [class.active]="i === currentImageIndex"
         class="carousel-image"
         alt="slider image" />

    <div class="carousel-overlay-text">
      <h2>Cheia evenimentelor reușite.</h2>
      <h3>Tu ce eveniment pregătești?</h3>
      <p class="carousel-subtext">Toți furnizorii de care ai nevoie, într-un singur loc.</p>
    <p class="carousel-subtext-alt">Platforma unde încep evenimentele de neuitat.</p>
    </div>
  </div>
</div>

<!-- Mobile Carousel -->
<div *ngIf="(isMobile | async)" class="mobile">
  <div class="carousel-container">
    <img *ngFor="let img of sliderImages; let i = index"
         [src]="img"
         [class.active]="i === currentImageIndex"
         class="carousel-image"
         alt="slider image" />

    <div class="carousel-overlay-text">
      <h2>Cheia evenimentelor reușite.</h2>
      <h3>Tu ce eveniment pregătești?</h3>
      <p class="carousel-subtext">Toți furnizorii de care ai nevoie, într-un singur loc.</p>
      <p class="carousel-subtext-alt">Platforma unde încep evenimentele de neuitat.</p>
    </div>
  </div>
</div>
