
<div *ngIf="!useImages">
  <!-- Desktop -->
  <div *ngIf="!(isMobile | async)" class="video-wrapper">
    <video autoplay loop [muted]="true" playsinline preload="auto" class="video-element">
      <source src="assets/imagesandvideos/landingvideo.mp4" type="video/mp4">
    </video>

    <div class="video-overlay">
      <h2>Cheia evenimentelor reușite.</h2>
      <h3>Tu ce eveniment pregătești?</h3>
      <p class="carousel-subtext">Toți furnizorii de care ai nevoie, într-un singur loc.</p>
      <p class="carousel-subtext-alt">Platforma unde încep evenimentele de neuitat.</p>
    </div>
  </div>

  <!-- Mobile -->
  <div *ngIf="(isMobile | async)" class="video-wrapper video-mobile">
    <video id="myVideo" autoplay loop [muted]="true" playsinline preload="auto" class="video-element">
      <source src="assets/imagesandvideos/landingvideo.mp4" type="video/mp4">
    </video>

    <div class="video-overlay">
      <h2>Cheia evenimentelor reușite.</h2>
      <h3>Tu ce eveniment pregătești?</h3>
      <p class="carousel-subtext">Toți furnizorii de care ai nevoie, într-un singur loc.</p>
      <p class="carousel-subtext-alt">Platforma unde încep evenimentele de neuitat.</p>
    </div>
  </div>
</div>
