<!-- login.component.html -->
<div class="background"></div>
<div class="login-container" *ngIf="!(isMobile | async)">
    <div class="login-box">
      <div class="logo-container">
        <!-- Your logo image goes here -->
        <img class="logo-image" src="https://eventador.ro/images/logo.svg" alt="Your Logo" />
      </div>
  
      <div class="header">
        <h2>Bun venit in Eventador</h2>
      </div>
  
      <!-- Username and Password inputs -->
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password">
      </div>
  
      <!-- Login button -->
      <button class="btn btn-primary">Login</button>
    </div>
  </div>

  <div class="login-container" *ngIf="(isMobile | async)">
    <div class="mobile-login-box">
      <div class="logo-container">
        <!-- Your logo image goes here -->
        <img class="logo-image" src="https://eventador.ro/images/logo.svg" alt="Your Logo" />
      </div>
  
      <div class="header">
        <h2>Bun venit in Eventador</h2>
      </div>
  
      <!-- Username and Password inputs -->
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password">
      </div>
  
      <!-- Login button -->
      <button class="btn btn-primary">Login</button>
    </div>
  </div>

