<!-- login.component.html -->
<div class="background"></div>
<div class="login-container" *ngIf="!(isMobile | async)">
    <div class="login-box">
      <div class="logo-container">
        <!-- Your logo image goes here -->
        <img class="logo-image" src="assets\imagesandvideos\pinklogo.png" alt="Your Logo" />
      </div>
  
      <div class="header">
        <h2>Bun venit in Eventador</h2>
      </div>
  
      <!-- Username and Password inputs -->
      <div class="form-group">
        <input type="text" [(ngModel)]="username" class="form-control" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password">
      </div>
      <p *ngIf="errorWhenLogging" class="error-message">Datele de logare sunt incorecte!</p>
  
      <!-- Login button -->
      <button class="btn btn-primary" (click)="login()">Autentificare</button>
      <a [routerLink]="['/Inscriere']" class="additional-links"><p class="create-account">Nu ai cont? Inscrie-te si tu!</p></a>
      <a [routerLink]="['/RecuperareParola']" class="additional-links"><p class="forgotten-password">Ai uitat parola?</p></a>
      
    </div>
  </div>

  <div class="login-container" *ngIf="(isMobile | async)">
    <div class="mobile-login-box">
      <div class="logo-container">
        <!-- Your logo image goes here -->
        <img class="logo-image" src="assets\imagesandvideos\pinklogo.png" alt="Your Logo" />
      </div>
  
      <div class="header">
        <h2>Bun venit in Eventador</h2>
      </div>
  
      <!-- Username and Password inputs -->
      <div class="form-group">
        <input type="text" [(ngModel)]="username" class="form-control" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password">
      </div>
      <p *ngIf="errorWhenLogging" class="error-message">Datele de logare sunt incorecte!</p>
  
      <!-- Login button -->
      <button class="btn btn-primary" (click)="login()">Autentificare</button>
      <a [routerLink]="['/Inscriere']" class="additional-links"><p class="create-account">Nu ai cont? Inscrie-te si tu!</p></a>
      <a [routerLink]="['/RecuperareParola']" class="additional-links"><p class="forgotten-password">Ai uitat parola?</p></a>
    </div>
  </div>

