<div class="container">
  <h1 style="text-align: center;">TERMENI ȘI CONDIȚII</h1>

    <p>
      Dacă furnizați servicii și produse pentru evenimente, vă punem la dispoziție platforma Eventador pentru a vă lista oferta și a vă putea conecta cu potențiali clienți.
    </p>
    <p>
      Dacă sunteți în căutarea de servicii pentru evenimente, prin intermediul platformei vă putem ajuta să găsiți cei mai potriviți furnizori pentru evenimentul dumneavoastră.
    </p>
  
    <h2>1. Informații preliminare</h2>
    <p><strong>1.1.</strong> Mulțumim pentru interesul manifestat față de site-ul și serviciile noastre.</p>
    <p>
      <strong>1.2.</strong> Vă rugăm să citiți acest document cu atenție. Acest document (denumit în continuare "Prezentul document", "Contractul" sau "Termeni și Condiții"), 
      împreună cu documentele menționate în el, reprezintă condițiile utilizării site-ului 
      <a href="https://www.eventador.ro/" target="_blank">https://www.eventador.ro/</a> 
      (denumit în continuare "site-ul") și plasării de cereri sau comenzi de servicii prin intermediul site-ului.
    </p>
    <p>
      Prin <strong>“Organizator de evenimente" sau "Event Manager"</strong> ne referim în acest document la orice persoană, fizică sau juridică, care își procură servicii 
      și/sau produse de la un furnizor înregistrat pe Eventador. Prin <strong>“Furnizor”</strong> ne referim în continuare la orice persoană care oferă servicii și/sau produse și este 
      înregistrată cu un cont de furnizor pe Eventador.
    </p>
    <p>
      Prin navigarea pe site-ul nostru sau prin plasarea unei cereri sau comenzi sunteți de acord cu Termenii și Condițiile descrise mai jos. Acest document reprezintă o 
      convenție legală – un contract între dumneavoastră și noi. Vă rugăm să citiți și 
      <a href="#">Politica noastră de confidențialitate</a> și 
      <a href="#">Politica privind utilizarea modulelor cookie</a>, înainte de a naviga pe site sau a plasa o comandă. 
      Dacă nu sunteți de acord cu acești Termeni sau cu Politicile indicate mai sus, vă rugăm să nu utilizați site-ul.
    </p>
  
    <h2>2. Obligatoritatea contractului</h2>
    <p><strong>2.1.</strong> Caracter obligatoriu. Înțelegeți că atât prezentul document, cât și toate politicile la care acesta face referire (ex. Politică de confidențialitate, Politica privind utilizarea modulelor cookie) au caracter obligatoriu față de dvs. Prin navigarea pe site-ul nostru sau prin plasarea unei comenzi, vă luați angajamentul de a respecta prezentul document și politicile indicate.</p>
    <p><strong>2.2.</strong> Pentru navigarea și activitatea dumneavoastră pe site se vor aplica termenii care sunt în vigoare la momentul plasării cererii sau comenzii.</p>
    <p><strong>2.3.</strong> Nu putem garanta faptul că orice serviciu care a fost inclus la un moment dat pe site va fi disponibil în orice moment. Ne rezervăm dreptul de a înceta în orice moment colaborarea cu anumiți furnizori și/sau comercializarea unor pachete de servicii.</p>
    <p><strong>2.4.</strong> Dacă aveți întrebări sau neclarități, ne puteți contacta cu încredere la 
      <a href="mailto:support&#64;eventador.ro">support&#64;eventador.ro</a> și vă vom răspunde în cel mai scurt timp.</p>
  
    <h2>3. Cine suntem?</h2>
    <p>
      Site-ul <a href="https://www.eventador.ro/" target="_blank">https://www.eventador.ro/</a> se află în administrarea 
      <strong>EVENTADOR MACRO GROUP SRL</strong>, societate de naționalitate română cu sediul social în Cluj Napoca, strada Cernauti, nr. 17-21, bloc I, ap. 3, înmatriculată în Registrul Comerțului Cluj sub nr. de ordine J2024037596002, având cod de înregistrare fiscală 50819681, e-mail: 
      <a href="mailto:support&#64;eventador.ro">support&#64;eventador.ro</a>.
    </p>
  
    <h2>4. Datele dvs. cu caracter personal</h2>
    <p><strong>4.1.</strong> Site-ul prelucrează date cu caracter personal furnizate de dvs. sau colectate din alte surse, așa cum am descris pe larg în <a href="#">Politica de confidențialitate</a>.</p>
    <p><strong>4.2.</strong> Prin vizitarea și/sau utilizarea site-ului, cererea de oferte, plasarea de comenzi sau prin interacțiunea cu noi prin orice metodă și/sau orice mijloc de comunicare la distanță, sunteți de acord cu prelucrarea datelor dvs. cu caracter personal astfel cum am descris în <a href="#">Politica de confidențialitate</a>.</p>
    <p><strong>4.3.</strong> Declarați, totodată, că toate datele personale și informațiile transmise către noi sunt actualizate, exacte. În măsura în care datele nu vă aparțin, declarați că ați obținut acordul scris și prealabil al persoanei vizate ale cărei date le transmiteți către noi sau că transmiteți datele în baza altui temei legal conform Regulamentului (EU) 679/2016.</p>
    <p><strong>4.4.</strong> Este posibil să colectăm informații prin module cookie sau alte tehnologii similare, precum adresa IP, navigatorul sau dispozitivul. Dacă doriți să aflați mai multe informații, vă recomandăm să accesați și să parcurgeți <a href="#">Politica noastră privind utilizarea modulelor cookie</a>.</p>
  
    <h2>5. Eligibilitate</h2>
    <p><strong>5.1.</strong> Pentru a putea plasa în mod legal o comandă pe site-ul nostru trebuie:</p>
    <ul>
      <li>să aveți peste 18 ani și/sau capacitate deplină de exercițiu,</li>
      <li>să fiți de acord cu Termenii și cu Politicile de protecție a datelor cu caracter personal,</li>
      <li>să ne furnizați informații de contact reale, complete și actualizate.</li>
    </ul>
    <p><strong>5.2.</strong> Servicii către minori. Site-ul nu prestează servicii și nu vinde produse către minori. Dacă aveți sub 18 ani, vă rugăm să apelați la un părinte/tutore pentru a plasa comanda în numele dvs. sau a autoriza plasarea unei comenzi. Pentru mai multe informații, ne puteți contacta oricând la adresa de e-mail 
      <a href="mailto:support&#64;eventador.ro">support&#64;eventador.ro</a>.
    </p>
  
    <h2>6. Reguli privind utilizarea site-ului</h2>
<p>Prin accesarea, vizitarea, plasarea unei comenzi sau desfășurarea oricărei alte activități pe site-ul nostru, vă angajați să respectați regulile de mai jos.</p>

<h3>6.1. Ca utilizator:</h3>
<ul>
  <li>6.1.1. Înțelegeți și vă asumați că Eventador este o platformă digitală care conectează organizatori de evenimente și furnizori și că nu este un furnizor sau organizator de evenimente în sine.</li>
  <li>6.1.2. Vă asumați și sunteți de acord că furnizorii, și nu Eventador, sunt responsabili și răspunzători legal pentru onorarea contractului stabilit între organizator și furnizor.</li>
  <li>6.1.3. Eventador nu intermediază și nu este răspunzător pentru colaborarea și plata serviciilor stabilite independent între organizatorul de evenimente și furnizor.</li>
</ul>

<h3>6.2. Ca furnizor înregistrat:</h3>
<ul>
  <li>6.2.1. Confirmați că sunteți apt și calificat pentru a furniza serviciile, conform legislației.</li>
  <li>6.2.2. Înțelegeți că transmiterea unei oferte către un organizator nu garantează citirea și acceptarea acesteia.</li>
  <li>6.2.3. Oricine furnizează servicii în numele furnizorului trebuie să respecte aceleași reguli.</li>
  <li>6.2.4. Oferta furnizorului trebuie să fie mai avantajoasă pentru clientul final decât orice ofertă publică a furnizorului afișată pe alte platforme.</li>
</ul>

<h3>6.3. Ca organizator de evenimente:</h3>
<ul>
  <li>6.3.1. Transmiterea unei cereri de servicii nu garantează un răspuns sau o ofertă corespunzătoare.</li>
  <li>6.3.2. Un răspuns sau ofertă din partea unui furnizor nu reprezintă un angajament ferm.</li>
  <li>6.3.3. Eventador nu își asumă responsabilitatea pentru interacțiunea cu furnizorii, dar încurajează feedback la <a href="mailto:support&#64;eventador.ro">support&#64;eventador.ro</a>.</li>
</ul>

<h3>6.4. Reguli generale pentru utilizatori, furnizori și organizatori:</h3>
<ul>
  <li>Utilizarea site-ului se face exclusiv pentru comenzi legitime sau informare.</li>
  <li>Nu sunt permise comenzile false sau frauduloase.</li>
  <li>Trebuie furnizate informații reale, exacte și actualizate.</li>
  <li>Drepturile de proprietate intelectuală asupra conținutului site-ului trebuie respectate.</li>
  <li>Nu este permisă nicio acțiune care poate aduce prejudicii site-ului.</li>
</ul>

<h3>6.5. Consecințe:</h3>
<p>Eventador își rezervă dreptul de a bloca accesul utilizatorilor care încalcă regulile, de a anula comenzile și de a informa autoritățile competente.</p>

<h2>7. Încheierea contractului</h2>
<p>Eventador își rezervă dreptul de a decide unilateral suspendarea sau anularea contului dvs.</p>

<h3>7.1. Măsuri posibile:</h3>
<ul>
  <li>7.1.1. Suspendarea sau dezactivarea contului Eventador și a parolei.</li>
  <li>7.1.2. Informarea altor utilizatori despre suspendarea contului și motivul acesteia.</li>
  <li>7.1.3. Nicio compensație nu va fi oferită pentru serviciile anulate sau întrerupte.</li>
</ul>

<h3>7.2. Motive pentru suspendare:</h3>
<ul>
  <li>7.2.1. Încălcarea termenilor și condițiilor Eventador.</li>
  <li>7.2.2. Dispută privind proprietatea contului.</li>
  <li>7.2.3. Suspiciune de activitate frauduloasă.</li>
</ul>

<h3>7.3. Justificare și contestare:</h3>
<ul>
  <li>7.3.1. În cazul limitării sau suspendării contului, utilizatorul va primi o justificare a deciziei.</li>
  <li>7.3.2. Pentru dezactivarea sau anularea contului, justificarea va fi transmisă cu 30 de zile înainte, cu excepția cazurilor legale urgente.</li>
  <li>7.3.3. Utilizatorul poate solicita revizuirea măsurii la <a href="mailto:support&#64;eventador.ro">support&#64;eventador.ro</a>.</li>
</ul>

<h3>7.4. Dreptul utilizatorului de a închide contul:</h3>
<ul>
  <li>7.4.1. Contul poate fi dezactivat de utilizator oricând, dar conținutul postat nu va fi șters automat.</li>
  <li>7.4.2. În termen de 60 de zile de la anulare, utilizatorul poate solicita datele personale.</li>
  <li>7.4.3. În termen de 90 de zile, toate datele personale vor fi șterse, cu excepția obligațiilor legale contrare.</li>
</ul>

<h2>8. Disponibilitatea produselor/serviciilor</h2>
<ul>
  <li><strong>8.1.</strong> Nu putem garanta că produsele și serviciile listate pe site vor fi disponibile în orice moment. Nu avem nicio răspundere în cazul în care un pachet de servicii nu mai este disponibil.</li>
  <li><strong>8.2.</strong> Deși încercăm să menținem informațiile privind disponibilitatea în timp real, nu putem garanta actualizarea permanentă a acestora.</li>
</ul>

<h2>9. Forța Majoră</h2>
<p>Nu vom fi responsabili pentru întârzieri sau nereușite în furnizarea serviciilor în cazul unor evenimente de forță majoră, inclusiv, dar fără a se limita la: schimbări legislative, embargouri, războaie, acte teroriste, incendii, cutremure, accidente nucleare, inundații, greve, epidemii, sau probleme cu furnizorii de servicii ai Eventador.</p>

<h2>10. Proprietate intelectuală</h2>
<ul>
  <li><strong>10.1.</strong> Întregul conținut al site-ului este proprietatea EVENTADOR MACRO GROUP SRL și poate fi utilizat doar pentru informare și plasarea comenzilor.</li>
  <li><strong>10.2.</strong> Utilizatorii nu au dreptul să descarce, modifice, copieze, distribuie sau exploateze conținutul site-ului în niciun fel care contravine intereselor Eventador.</li>
  <li><strong>10.3.</strong> Orice încălcare a proprietății intelectuale va fi supusă acțiunilor legale conform Legii 8/1996.</li>
</ul>

<h2>11. Acest Contract</h2>
<ul>
  <li><strong>11.1.</strong> Acești Termeni constituie acordul integral dintre dumneavoastră și noi.</li>
  <li><strong>11.2.</strong> Contractul este obligatoriu, iar transferul sau cesionarea acestuia nu este permisă fără acordul nostru scris.</li>
  <li><strong>11.3.</strong> Eventador își rezervă dreptul de a modifica Termenii și Condițiile și va notifica utilizatorii prin e-mail sau printr-un mesaj în contul acestora cu cel puțin 15 zile înainte.</li>
</ul>

<h2>12. Legislația aplicabilă</h2>
<p>Acest contract este reglementat de legislația română, iar orice litigii vor fi soluționate de instanțele competente din România.</p>

<h2>13. Inexistența dreptului de retragere</h2>
<p>Utilizatorul înțelege că nu beneficiază de dreptul de retragere conform OUG 34/2014, deoarece serviciile prestate prin intermediul site-ului sunt exceptate de la acest drept.</p>

<h2>14. Notificări</h2>
<p>Toate comunicările dintre utilizator și Eventador se vor realiza prin e-mail la adresa specificată în contul utilizatorului sau la <a href="mailto:support&#64;eventador.ro">support&#64;eventador.ro</a>.</p>

<h2>15. Înregistrarea contului și activitatea</h2>
<ul>
  <li>15.1. Pentru accesarea anumitor secțiuni ale site-ului, este necesară crearea unui cont.</li>
  <li>15.2. Sunteți responsabil pentru securitatea parolei contului și notificarea Eventador în cazul unor accesări neautorizate.</li>
  <li>15.3. Eventador nu răspunde pentru pierderile rezultate din utilizarea neautorizată a contului.</li>
  <li>15.4. Prin înregistrare, utilizatorii acceptă ca Eventador să refolosească informații, imagini și conținut în scopuri promoționale.</li>
</ul>

<h3>15.1. Dacă sunteți furnizor:</h3>
<ul>
  <li>Trebuie să postați informații corecte despre serviciile oferite.</li>
  <li>Eventador își rezervă dreptul de a corecta sau șterge conținutul furnizat.</li>
</ul>

<h3>15.2. Dacă sunteți organizator de evenimente:</h3>
<ul>
  <li>Puteți completa cererea de ofertă și primi răspunsuri de la furnizori.</li>
  <li>Acceptarea unei oferte nu reprezintă un contract legal între organizator și furnizor.</li>
</ul>

<h2>16. Restricții și limitări</h2>
<p>Conform acestui Contract, vă asumați responsabilitatea în interacțiunile cu ceilalți utilizatori...</p>
<ul>
    <li><strong>16.1.</strong> Folosească contul altcuiva;</li>
    <li><strong>16.2.</strong> Contacteze și să comunice pe alte canale decât prin intermediul site-ului...</li>
    <li><strong>16.3.</strong> Furnizeze informații mincinoase...</li>
    <li><strong>16.4.</strong> Folosească sisteme automatizate...</li>
    <li><strong>16.5.</strong> Își încalce angajamentul...</li>
    <li><strong>16.6.</strong> Se angajeze în acțiuni care pot interfera cu site-ul...</li>
</ul>

<h2>17. Sistemul de recomandări și recenzii</h2>
<ul>
    <li><strong>17.1.</strong> Recenzia devine proprietatea Eventador...</li>
    <li><strong>17.2.</strong> Recenzia nu trebuie să încalce drepturi legale...</li>
    <li><strong>17.3.</strong> Ne rezervăm dreptul de a refuza o recenzie...</li>
    <li><strong>17.4.</strong> Recenziile suspecte pot duce la dezactivarea contului...</li>
</ul>

<h2>18. Canale de distribuție suplimentare</h2>
<p>Eventador își rezervă dreptul de a selecta furnizorii recomandați...</p>

<h2>19. Clasarea produselor și a serviciilor</h2>
<ul>
    <li><strong>19.1.</strong> Recomandări bazate pe parteneriate...</li>
    <li><strong>19.2.</strong> Clasare pe baza recenziilor și contractărilor...</li>
</ul>

<h2>20. Soluționarea disputelor</h2>
<p>Eventador nu își asumă responsabilitatea pentru dispute între utilizatori...</p>

<h2>21. Confidențialitate</h2>
<ul>
    <li><strong>21.1.</strong> Obligația de păstrare a confidențialității...</li>
    <li><strong>21.2.</strong> Excepții de la confidențialitate...</li>
    <li><strong>21.3.</strong> Dreptul de divulgare în anumite condiții...</li>
</ul>



  




</div>
