<div *ngIf="!(isMobile | async)" class="profile-container">
  <div class="user-logo">
    <div class="user-logo">{{ nameInitials }}</div>
  </div>
  <div class="profile-details">
    <h1>Profil Personal</h1>
    <div>
      <strong>Prenume:</strong> {{ firstName }}
    </div>
    <div>
      <strong>Nume:</strong> {{ lastName }}
    </div>
    <div>
      <strong>Email:</strong> {{ email }}
    </div> 
    <div>
      <strong>Numar de telefon:</strong> {{ phoneNumber }}
    </div>
    <div *ngIf="userRole == 3">
      <strong>Link de inscriere:</strong> {{ signUpLink }}
      <button (click)="copyToClipboard(signUpLink)">Salveaza</button>
    </div>
    <button mat-raised-button class="action-buttons" (click)="changePassword()"><b>Schimbă Parola</b></button>
    <button mat-raised-button class="action-buttons" (click)="editUser()"><b>Editare date personale</b></button>
    <button mat-raised-button class="action-buttons" (click)="deleteAccount()"><b>Șterge Cont</b></button>
    <button *ngIf="userRole == 4" mat-raised-button class="action-buttons" (click)="viewPersonalProfiles()"><b>Profile Personale</b></button>
  </div>
</div>

<app-change-password *ngIf="changePasswordVisible && !(isMobile | async)"></app-change-password>
<app-edit-personal-data *ngIf="editUserVisible && !(isMobile | async)"></app-edit-personal-data>
<app-delete-account *ngIf="deleteAccountVisible && !(isMobile | async)"></app-delete-account>


<div *ngIf="isMobile | async" class="mobile-profile-container">
  <div class="mobile-user-logo"><p>{{ nameInitials }}</p></div>
  <div>
    <h1 class="mobile-title">Profil Personal</h1>
    <div>
      <strong>Prenume:</strong> {{ firstName }}
    </div>
    <div>
      <strong>Nume:</strong> {{ lastName }}
    </div>
    <div>
      <strong>Email:</strong> {{ email }}
    </div>
    <div>
      <strong>Numar de telefon:</strong> {{ phoneNumber }}
    </div>
    <div *ngIf="userRole == 3">
      <strong>Link de inscriere:</strong> {{ signUpLink }}
      <button (click)="copyToClipboard(signUpLink)">Salveaza</button>
    </div>
    <div class="mobile-action-buttons">
    <button mat-raised-button class="mobile-action-button" (click)="editUser()">Editare date personale</button>
    <app-edit-personal-data *ngIf="editUserVisible"></app-edit-personal-data>
    <button mat-raised-button class="mobile-action-button" (click)="changePassword()">Schimbă Parola</button>
    <app-change-password *ngIf="changePasswordVisible"></app-change-password>
    <button mat-raised-button class="mobile-action-button" (click)="deleteAccount()">Șterge Cont</button>
    <app-delete-account *ngIf="deleteAccountVisible"></app-delete-account>  
    <button *ngIf="userRole == 4" mat-raised-button class="mobile-action-button" (click)="viewPersonalProfiles()">Profile Personale</button>
    
    </div>
    
  </div>
</div>
<app-personal-profiles *ngIf="personalProfilesVisible" [personalProfiles]="personalProfiles" [forApprovalPersonalProfiles]="false"></app-personal-profiles>

